<!doctype html>
<html lang="es">
  <head>
    {{- partial "head.html" . -}}
  </head>
  <body>
    {{- partial "casestudy/navbar.html" . -}}

    {{- partial "casestudy/hero.html" . -}}

    <section id="sect-testimonials" class="light">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div id="carousel-testimonials" class="carousel">
              <div class="service">
                <div class="flap"></div>
                <p>&ldquo;Necesitábamos incorporar ingenieros a nuestro equipo, pero teníamos que dedicar seniors y tech leads para formarlos, que ya estaban en equipos productivos, con fechas de entrega agresivas. Intentar compaginar la entrega de valor con la formación de estas personas creaba fricción y frustración.&rdquo;</p>
                <div class="avatar-with-name">
                  <img class="rounded-circle avatar" src="/assets/img/testimonials/emilio-macias.jpeg"/>
                  <div class="customer-name">
                    <p>Emilio Macías</p>
                    <p>Director de operaciones @ AIDA</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="sect-body">
      {{- block "article" . }}{{- end }}
    </section>

    {{- partial "blog/footer.html" . -}}

    {{- partial "javascript.html" . -}}
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5f2bf2edad69c454"></script>
  </body>
</html>

{{ define "article" }}
<div class="container">
  <article>
    {{ .Content }}
  </article>
</div>
{{ end }}
