{{ define "main" }}

<section class="light">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="with-arrow">{{ .Params.certificateData.courseName }}: <em>Certificado del Curso</em>.</h2>
      </div>
    </div>
		<div class="row mt-3 mb-3">
			<div class="col-md-6 gloaming">
        <p>Completado por: <em>{{ .Params.certificateData.studentName }}</em></p>
        <p>Código de verificación: {{ .Params.certificateData.verificationCode }}</p>
        <p>Fecha de finalización: {{ .Params.certificateData.endDate }}</p>
        <p>Duración: {{ .Params.certificateData.timespan }}</p>
      </div>
      <div class="col-md-6">
        <img class="img-fluid pad" src="/assets/img/certificates/certificate-mockup.png" />
      </div>
    </div>
  </div>
</section>
{{ end }}
