{{ define "main" }}
<section class="light">
  <div class="container">
		<div class="courses-tagline">
			<div class="courses-tagline-inner bg-mask vertical-center courses-tagline-inner">
				<h1><span class="underline">Lorem ipsum dolor sit amet, consectetur adipiscing elit</span></h1>
			</div>
		</div>
  </div>
</section>

<section id="sect-courses" class="light">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-12">
				<div class="course-card">
					<div class="course-header">
					</div>
					<div class="course-body">
						<h3>Legacy Code</h3>
						<p class="level">Dificultad Media</p>
						<p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Adipiscing at in tellus integer.</p>
						<p class="description">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Adipiscing at in tellus integer.</p>
						<ul>
							<li>Lorem ipsum dolor</li>
							<li>Lorem ipsum dolor</li>
							<li>Lorem ipsum dolor</li>
							<li>Lorem ipsum dolor</li>
						</ul>
						<a class="button button-green" href="#">Descubre el curso</a>
						<a class="button button-green" href="#">Contacto</a>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-12">
				<div class="course-card">
					<div class="course-header">
					</div>
					<div class="course-body">
						<h3>Legacy Code</h3>
						<p class="level">Dificultad Media</p>
						<p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Adipiscing at in tellus integer.</p>
						<p class="description">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Adipiscing at in tellus integer.</p>
						<ul>
							<li>Lorem ipsum dolor</li>
							<li>Lorem ipsum dolor</li>
							<li>Lorem ipsum dolor</li>
							<li>Lorem ipsum dolor</li>
						</ul>
						<a class="button button-green" href="#">Descubre el curso</a>
						<a class="button button-green" href="#">Contacto</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="sect-clients" class="gloaming">
	<div class="container">
		<div class="row">
			<div class="col-md-2 d-none d-sm-none d-md-block">
				<h2><img class="arrow-right" src="/assets/img/arrow-right-secondary.svg" /></h2>
			</div>
			<div class="col-md-10 col-sm-12">
				<h2>Han confiado en nosotros:</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3 col-md-4 col-6 d-flex align-items-center justify-content-center">
				<img src="/assets/img/clients/exeal.png" class="img-fluid client-logo" alt="Exeal">
			</div>
			<div class="col-lg-3 col-md-4 col-6 d-flex align-items-center justify-content-center">
				<img src="/assets/img/clients/exeal.png" class="img-fluid client-logo" alt="Exeal">
			</div>
			<div class="col-lg-3 col-md-4 col-6 d-flex align-items-center justify-content-center">
				<img src="/assets/img/clients/exeal.png" class="img-fluid client-logo" alt="Exeal">
			</div>
			<div class="col-lg-3 col-md-4 col-6 d-flex align-items-center justify-content-center">
				<img src="/assets/img/clients/exeal.png" class="img-fluid client-logo" alt="Exeal">
			</div>
			<div class="col-lg-3 col-md-4 col-6 d-flex align-items-center justify-content-center">
				<img src="/assets/img/clients/exeal.png" class="img-fluid client-logo" alt="Exeal">
			</div>
			<div class="col-lg-3 col-md-4 col-6 d-flex align-items-center justify-content-center">
				<img src="/assets/img/clients/exeal.png" class="img-fluid client-logo" alt="Exeal">
			</div>
			<div class="col-lg-3 col-md-4 col-6 d-flex align-items-center justify-content-center">
				<img src="/assets/img/clients/exeal.png" class="img-fluid client-logo" alt="Exeal">
			</div>
			<div class="col-lg-3 col-md-4 col-6 d-flex align-items-center justify-content-center">
				<img src="/assets/img/clients/exeal.png" class="img-fluid client-logo" alt="Exeal">
			</div>
		</div>
	</div>
</section>

<section id="sect-contact" class="light">
	<div class="container">
		<div class="row">
			<div class="col-md-2 d-none d-sm-none d-md-block">
				<h2><img class="arrow-right" src="/assets/img/arrow-right-secondary.svg" /></h2>
			</div>
			<div class="col-md-10 col-sm-12">
				<h2><em>Contacta con nosotros</em> para averiguar c&oacute;mo podemos <em>colaborar</em>.</h2>
				<form accept-charset="UTF-8" action="https://getform.io/f/d1f0f1fc-1836-4cd7-bac0-c5fd411594e2" method="post">
					<div class="row">
						<div class="col-md-6 form-group">
							<input class="form-control" id="name" name="name" type="text" placeholder="Nombre"/>
						</div>
						<div class="col-md-6 form-group">
							<input class="form-control" id="surname" name="surname" type="text" placeholder="Apellidos"/>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 form-group">
							<input class="form-control" id="email" name="email" type="email" placeholder="Email"/>
						</div>
						<div class="col-md-6 form-group">
							<input class="form-control" id="phone" name="phone" type="text" placeholder="Tel&eacute;fono"/>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<div class="form-group">
								<input class="form-control" id="company" name="company" type="text" placeholder="Compa&ntilde;&iacute;a"/>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<div class="form-group">
								<textarea class="form-control" id="message" name="message" placeholder="Mensaje"></textarea>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<input class="btn-submit" type="submit" name="submit" value="Enviar" />
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
{{ end }}
