{{ define "main" }}
<section id="sect-thank-you" class="dark background background-04">
  <div class="container thank-you-hero vertical-center justify-content-center align-items-center text-center">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>¡Enhorabuena! Te hemos enviado por email la <em>guía para hacer que tu carrera como desarrollador despegue en 2024</em>.</h1>
        <p>Si no recibes la guía en unos minutos, revisa la carpeta de spam.</p>
        <p>En caso de que aún así no la recibas, escribenos por email a <em>hola@exeal.com</em> y te la enviaremos directamente.</p>
      </div>
    </div>
  </div>
</section>

<section class="light">
  <div class="container">
    <div class="row">
      <div class="col-md-2 d-none d-sm-none d-md-block">
        <h2>
          <img
            class="arrow-right"
            src="/assets/img/arrow-right-secondary.svg"
          />
        </h2>
      </div>
      <div class="col-md-10 col-sm-12">
        <h2>
          <em>¿Quieres seguir aprendiendo?</em>
        </h2>
        <p>
          Descubre todo el contenido de valor gratuito sobre buenas prácticas y desarrollo de software que tenemos que ofrecerte.
          
        </p>
        <p>
          <img class="arrow-down" src="/assets/img/arrow-down-secondary.svg"/>
        </p>
        <p>
          <a href="/blog/" class="button">Visita nuestro blog</a>
        </p>
      </div>
    </div>
  </div>
</section>
{{ end }}
