{{ define "nav-items" }}
<li class="nav-item">
  <a data-scroll="sect-download" href="#" class="nav-link nav-button">{{ .Params.texts.common.call_to_action }}</a>
</li>
{{ end }}

{{ define "main" }}
<section id="sect-download" class="dark background background-05">
  <div class="container">
    <div class="row mt-1 mb-1 align-items-center h-100">
      <div class="course-page-tagline col-md-7 col-sm-12 mb-3">
        <h1>{{ .Params.texts.hero.header | safeHTML }}</h1>
        <h4>{{ .Params.texts.hero.subheader | safeHTML }}</h4>
      </div>
      <div class="col-md-5 col-sm-12">
        <form
          action="https://exeal.us10.list-manage.com/subscribe/post?u=b43f7982f87d38bbb55bc64ae&amp;id=a85eab802a&amp;f_id=008ed9e5f0"
          method="post">
          <div class="form-group">
            <input
              type="text"
              name="FNAME"
              class="form-control"
              id="mce-FNAME"
              value=""
              required
              placeholder="Tu nombre"
            />
          </div>
          <div class="form-group">
            <input
              type="email"
              name="EMAIL"
              class="form-control"
              id="mce-EMAIL"
              value=""
              required
              placeholder="Tu mejor email"
            />
          </div>
          <div id="mce-responses">
            <div
              class="response"
              id="mce-error-response"
              style="display: none"
            ></div>
            <div
              class="response"
              id="mce-success-response"
              style="display: none"
            ></div>
          </div>
          <div
            aria-hidden="true"
            style="position: absolute; left: -5000px"
          >
            /* real people should not fill this in and expect good things
            - do not remove this or risk form bot signups */
            <input
              type="text"
              name="b_b43f7982f87d38bbb55bc64ae_a85eab802a"
              tabindex="-1"
              value=""
            />
          </div>
          <div>
            <input
              type="submit"
              name="subscribe"
              id="mc-embedded-subscribe"
              class="button"
              value="Envíame la guía"
            />
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<section id="sect-stakes" class="light">
  <div class="container">
    <div class="row">
      <div class="col-md-2 d-none d-sm-none d-md-block">
        <h2>
          <img class="arrow-right" src="/assets/img/arrow-right-secondary.svg" />
        </h2>
      </div>
      <div class="col-md-10 col-sm-12">
        <h2>
          {{ .Params.texts.stakes.header | safeHTML }}
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7 photo d-none d-sm-none d-md-block">
				<img class="img-fluid pad" src="/assets/img/blog/posts/pain-developer.jpeg" />
			</div>
      <div class="col-md-5">
        <p>{{ .Params.texts.stakes.p1 | safeHTML }}</p>
        <ul class="row ticked-cross">
          {{ range .Params.texts.stakes.list }}
          <li class="col-md-12">{{ . }}</li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="dark">
  <div class="container">
    <div class="row mt-3 mb-3">
      <div class="col-md-7">
        <h2>¿Qué significa todo esto <em>para ti</em>?</h2>
        <p>A partir de ahora, tendrás que <em>currártelo más</em> si quieres promocionar, aumentar tu salario o cambiar de trabajo (o incluso mantener el tuyo actual).</p>
        <p><img class="arrow-down" src="/assets/img/arrow-down-secondary.svg" /></p>
        <p>Si quieres garantizar tu estabilidad laboral y el crecimiento de tu carrera, tienes que <em>convertirte en un profesional de alto valor</em>, en constante crecimiento, y aprender a <em>generar impacto de forma continua al negocio para el que trabajas</em>.</p>
        <p>
          <a data-scroll="sect-download" href="#" class="button">{{ .Params.texts.common.call_to_action }}</a>
        </p>
      </div>
      <div class="col-md-5 photo d-none d-sm-none d-md-block">
				<img class="img-fluid pad" src="/assets/img/legacy/karateka.png" />
			</div>
    </div>
  </div>
</section>

<section class="light">
  <div class="container">
    <div class="row mt-3 mb-3">
      <div class="col-md-5 photo d-none d-sm-none d-md-block">
				<img class="img-fluid pad" src="/assets/img/legacy/bola.png" />
			</div>
      <div class="col-md-7">
        <h2><em>Ponte al mando</em> de tu carrera</h2>
        <p>
          Para ser un <em>desarrollador del 1%</em> y diferenciarte del resto de personas que compiten por tu puesto, la gran mayoría de acciones que puedes tomar están bajo tu control.
        </p>
        <p><img class="arrow-down" src="/assets/img/arrow-down-secondary.svg" /></p>
        <p>
          En esta guía encontrarás las 10 claves más actualizadas y relevantes que puedes aplicar este año 2024, para ayudarte a <em>asegurar tu carrera como desarrollador</em>, mas 1 clave extra que te hará subir por el <em>fast track hasta 10x más rápido</em>.
        </p>
        <p>
          <a data-scroll="sect-download" href="#" class="button">{{ .Params.texts.common.call_to_action }}</a>
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Modal -->
<div class="modal fade" id="download-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="box" style="margin: 1.5rem; padding: 3rem">
        <div class="flap flap-top-right"></div>
        <h2>Descarga la guía con las <em>10+1 claves que harán crecer tu carrera como desarrollador</em> en 2024.</h2>
        <p>Déjanos tu nombre y tu mejor email y la <em>recibirás directamente en tu bandeja de entrada</em>, junto a mucho más <em>contenido de valor</em>.</p>
        <div id="mc_embed_shell">
          <link
            href="//cdn-images.mailchimp.com/embedcode/classic-061523.css"
            rel="stylesheet"
            type="text/css"
          />
          <div id="mc_embed_signup">
            <form
              action="https://exeal.us10.list-manage.com/subscribe/post?u=b43f7982f87d38bbb55bc64ae&amp;id=a85eab802a&amp;f_id=008ed9e5f0"
              method="post"
              id="mc-embedded-subscribe-form"
              name="mc-embedded-subscribe-form"
              class="validate"
              target="_blank"
            >
              <div id="mc_embed_signup_scroll">
                <div class="indicates-required">
                  <span class="asterisk">*</span> campos requeridos
                </div>
                <div class="mc-field-group">
                  <label for="mce-EMAIL"
                    >Tu mejor email <span class="asterisk">*</span></label
                  ><input
                    type="email"
                    name="EMAIL"
                    class="required email"
                    id="mce-EMAIL"
                    value=""
                    required=""
                  />
                </div>
                <div class="mc-field-group">
                  <label for="mce-FNAME"
                    >Tu nombre <span class="asterisk">*</span></label
                  ><input
                    type="text"
                    name="FNAME"
                    class="required text"
                    id="mce-FNAME"
                    value=""
                    required=""
                  />
                </div>
                <div id="mce-responses" class="clear foot">
                  <div
                    class="response"
                    id="mce-error-response"
                    style="display: none"
                  ></div>
                  <div
                    class="response"
                    id="mce-success-response"
                    style="display: none"
                  ></div>
                </div>
                <div
                  aria-hidden="true"
                  style="position: absolute; left: -5000px"
                >
                  /* real people should not fill this in and expect good things
                  - do not remove this or risk form bot signups */
                  <input
                    type="text"
                    name="b_b43f7982f87d38bbb55bc64ae_a85eab802a"
                    tabindex="-1"
                    value=""
                  />
                </div>
                <div class="optionalParent">
                  <div class="clear foot ">
                    <input
                      type="submit"
                      name="subscribe"
                      id="mc-embedded-subscribe"
                      class="btn-submit"
                      value="Descargar la guía"
                    />
                  </div>
                </div>
              </div>
            </form>
          </div>
          <script
            type="text/javascript"
            src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"
          ></script>
          <script type="text/javascript">
            (function ($) {
              window.fnames = new Array();
              window.ftypes = new Array();
              fnames[0] = "EMAIL";
              ftypes[0] = "email";
              fnames[1] = "FNAME";
              ftypes[1] = "text";
              fnames[2] = "LNAME";
              ftypes[2] = "text";
              fnames[5] = "JOBTITLE";
              ftypes[5] = "text";
              fnames[6] = "COMPANY";
              ftypes[6] = "text";
              fnames[3] = "ADDRESS";
              ftypes[3] = "address";
              fnames[4] = "PHONE";
              ftypes[4] = "phone";
            })(jQuery);
            var $mcj = jQuery.noConflict(true);
          </script>
        </div>
        <p><a href="#" data-dismiss="modal" style="color:grey; font-size: sm;">No gracias, prefiero seguir estancado un año más.</a></p>
      </div>
    </div>
  </div>
</div>

{{ end }}
