{{ define "main" }}
<section class="dark background background-04">
	<div class="container">
		<div class="row mt-3 mb-3">
      {{ if ( isset .Params "brochure_image" ) }}
      <div class="col-md-5 order-md-first order-sm-last order-last photo vertical-center">
        <img class="img-fluid pad" src="{{ .Params.brochure_image }}" />
      </div>
			{{ end }}
			<div class="col-md-7 vertical-center">
        <div>
          <h2>Las <em>10+1 claves</em> para hacer que tu carrera como developer despegue en 2024.</h2>
          <p>¡Enhorabuena! Aquí tienes el enlace para descargar la guía. Toma el control de tu carrera como developer hoy mismo.</p>
          <p><img class="arrow-down" src="/assets/img/arrow-down-primary.svg"/></p>
          <a target="_blank" href="{{ .Params.download_url }}" class="button">Descargar la guia</a>
        </div>
			</div>
		</div>
	</div>
</section>

<section class="light">
  <div class="container">
    <div class="row">
      <div class="col-md-2 d-none d-sm-none d-md-block">
        <h2>
          <img
            class="arrow-right"
            src="/assets/img/arrow-right-secondary.svg"
          />
        </h2>
      </div>
      <div class="col-md-10 col-sm-12">
        <h2>
          <em>¿Quieres seguir aprendiendo?</em>
        </h2>
        <p>
          Descubre todas nuestras formaciones sobre desarrollo de software con buenas prácticas que tenemos que ofrecerte.
          
        </p>
        <p>
          <img class="arrow-down" src="/assets/img/arrow-down-secondary.svg"/>
        </p>
        <p>
          <a href="https://academia.exeal.com/collections" class="button">Descubre los cursos</a>
        </p>
      </div>
    </div>
  </div>
</section>
{{ end }}
