{{ define "nav-items" }}
<li class="nav-item"><a class="nav-link" data-scroll="sect-course-details" href="#">Detalles del curso</a></li>
<li class="nav-item"><a class="nav-link" data-scroll="sect-agenda" href="#">Agenda</a></li>
<li class="nav-item"><a class="nav-link" data-scroll="sect-pricing" href="#">Precio</a></li>
<li class="nav-item"><a class="nav-link nav-button" data-scroll="sect-register" href="#">Inscríbete</a></li>
{{ end }}

{{ define "main" }}
<section class="dark background background-01-simple">
  <div class="container">
    <div class="row mt-3 mb-3">
      <div class="col-md-7 mb-3">
        <h1 class="arrow-right">Legacy Code Training</h1>
        <h2>No tener los conocimientos necesarios para modificar <em>Legacy Code</em> te está haciendo perder mucho <em>tiempo, esfuerzo y confianza</em> dentro del equipo de tu empresa.</h2>
        <a class="button" data-scroll="sect-register" href="#">Inscríbete</a>
      </div>
      <div class="col-md-5 photo d-none d-sm-none d-md-block">
				<img class="img-fluid pad" src="/assets/img/legacy/code-snippets.png" />
			</div>
    </div>
  </div>
</section>

<section class="light">
  <div class="container">
		<div class="row mt-3 mb-3">
			<div class="col-md-5 order-md-first order-sm-last order-last photo">
				<img class="img-fluid pad" src="/assets/img/photo-about-module.png" />
			</div>
			<div class="col-md-7">
        <h2>A veces, parece que la mejor solución para evitar trabajar sobre Legacy Code es &quot;parar las máquinas&quot; y reescribir el código desde cero. <em>La experiencia nos dice que no</em>.</h2>
        <p><img class="arrow-down" src="/assets/img/arrow-down-primary.svg"/></p>
        <p>Enfrentarte a Legacy Code es solo cuestión de tiempo, aunque vuelvas a escribir el código desde cero, en menos tiempo del que piensas ese código que has escrito va a ser por su naturaleza irremediablemente Legacy Code.</p>
      </div>
    </div>
  </div>
</section>

<section class="dark">
  <div class="container">
    <div class="row mt-3 mb-3">
      <div class="col-md-7">
        <h2>Trabajar sobre un proyecto de Legacy Code sin miedo a &quot;romper&quot; todo el sistema, <em>es posible</em>.</h2>
        <p>Con las habilidades y herramientas adecuadas puedes corregir, editar y añadir nuevas funcionalidades sobre un proyecto de Legacy Code ahorrándote meses de trabajo, esfuerzo y dinero.</p>
        <p>Es lo que hemos aprendido con la experiencia y nuestros alumnos lo corroboran.</p>
        <p><a data-scroll="sect-cases-studies" href="#"><img class="arrow-down" src="/assets/img/arrow-down-secondary.svg" /></a></p>
      </div>
      <div class="col-md-5 photo d-none d-sm-none d-md-block">
				<img class="img-fluid pad" src="/assets/img/legacy/karateka.png" />
			</div>
    </div>
  </div>
</section>

{{- partial "testimonials.html" . -}}

<section id="sect-course-details" class="gloaming">
  <div class="container">
    <div class="row">
      <div class="col-md-2 d-none d-sm-none d-md-block">
        <h2><img class="arrow-right" src="/assets/img/arrow-right-secondary.svg" /></h2>
      </div>
      <div class="col-md-10 col-sm-12">
        <h2>El training intensivo en <em>Legacy Code</em> de Exeal es diferente.</h2>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-4">
        <div class="icon-container">
          <img src="/assets/img/legacy/icons/icon-01.svg" />
        </div>
        <p>Durante un total de <em>16 horas</em> (a lo largo de 2 semanas, durante 2 horas al día, de Lunes a Jueves) vas a trabajar teoría y práctica sobre un proyecto de Legacy Code.</p>
      </div>
      <div class="col-md-4">
        <div class="icon-container">
          <img src="/assets/img/legacy/icons/icon-06.svg" />
        </div>
        <p>El training se realizará <em>100% online, por videoconferencia</em>. Si eres empresa y lo prefieres, podemos impartirlo en tus oficinas de manera presencial.</p>
      </div>
      <div class="col-md-4">
        <div class="icon-container">
          <img src="/assets/img/legacy/icons/icon-02.svg" />
        </div>
        <p><span>El formato del training consiste en pequeñas introducciones teóricas, seguidas de sesiones de <em>“pair y mob programming”</em> sobre ejercicios guiados estilo <em>katas</em> para aplicar los conceptos.</p>
      </div>
      <div class="col-md-4">
        <div class="icon-container">
          <img src="/assets/img/legacy/icons/icon-04.svg" />
        </div>
        <p>Podrás trabajar sobre <em>tu propio proyecto de Legacy Code</em> siempre que sea open source o, si vienes con el equipo de tu empresa, sobre el código de la misma.</p>
      </div>
      <div class="col-md-4">
        <div class="icon-container">
          <img src="/assets/img/legacy/icons/icon-03.svg" />
        </div>
        <p>Para garantizar la calidad de la experiencia y poder <em>adaptar y personalizar</em> las sesiones a cada alumno, nuestras plazas están limitadas a <em>12 personas</em> por cada edición.</p>
      </div>
      <div class="col-md-4">
        <div class="icon-container">
          <img src="/assets/img/legacy/icons/icon-05.svg" />
        </div>
        <p>Una vez acabado el training, continuaremos <em>resolviendote dudas</em> a través de nuestro Slack <em>Exeal Alumni</em>, junto a profesores y alumnos de otras ediciones.</p>
      </div>
    </div>
  </div>
</section>

<section id="sect-agenda" class="dark background background-02">
  <div class="container">
    <div class="row">
      <div class="col-md-2 d-none d-sm-none d-md-block">
        <h2><img class="arrow-right" src="/assets/img/arrow-right-secondary.svg" /></h2>
      </div>
      <div class="col-md-10 col-sm-12">
        <h2>Que <em>vas a aprender</em> en este training intensivo:</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul class="row ticked">
          <li class="col-md-6">Como enfrentarse a una base de código heredado que no conoces.</li>
          <li class="col-md-6">Identificar code smells: síntomas indicativos de problemas de mantenibilidad en el código.</li>
          <li class="col-md-6">Técnicas de refactorización: cómo cambiar el código de forma segura sin afectar a su comportamiento actual.</li>
          <li class="col-md-6">Construir una red de seguridad para cambiar el código basada en tests automáticos.</li>
          <li class="col-md-6">Técnicas de eliminación de dependencias: cómo separar módulos que están tan unidos que no se pueden testear.</li>
          <li class="col-md-6">Añadir nueva funcionalidad o corregir errores sobre legacy code usando TDD.</li>
          <li class="col-md-6">Realizar análisis de deuda técnica y riesgos de un proyecto legacy.</li>
          <li class="col-md-6">Aplicar con éxito estas técnicas a tu propio proyecto, independientemente del lenguaje en el que esté escrito.</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!--
<section id="sect-agenda-detailed" class="light">
  <div class="container">
    <div class="row">
      <div class="col-md-2 d-none d-sm-none d-md-block">
        <h2><img class="arrow-right" src="/assets/img/arrow-right-secondary.svg" /></h2>
      </div>
      <div class="col-md-10 col-sm-12">
        <h2>Durante <em>2 días</em> (8 horas cada día) vas a trabajar teoría y práctica sobre un <em>proyecto de Legacy Code</em>.</h2>
        <p>Esto es lo que vas a aprender durante la duración del curso.</p>

        <div class="bordered" data-toggle="collapse" href="#day1program">
          <div class="dropdown"></div>
          <h2>Descubre el programa del Día 1</h2>
          <a href="#"></a>
        </div>
        <div class="collapse bordered expanded" id="day1program">
          <ul>
            <li>- Introducción a Legacy Code y cómo hacer test automáticos para cambiar el código con seguridad.</li>
            <li>- Los 4 principios del diseño simple</li>
            <li>- Cómo cambiar el código Legacy paso a paso.</li>
            <li>- Los pasos exactos para romper dependencias sin afectar al código.</li>
            <li>- El sistema de refactorización más adecuado para mejorar el diseño y no perjudicar su funcionalidad.</li>
            <li>- Consejos para refactorizar de forma segura.</li>
            <li>- Identificar code smells en cualquier código.</li>
            <li>- Los diferentes tipos de Test para modificar el código con éxito y cuándo utilizar cada uno de ellos</li>
            <li>- Cómo enfrentarte a una base de código que no conoces sin morir en el intento.</li>
            <li>- Diferentes herramientas y habilidades para modificar, editar y extraer el código sin perjudicar al sistema.</li>
          </ul>
        </div>

        <div class="bordered mt-3" data-toggle="collapse" href="#day2program">
          <div class="dropdown"></div>
          <h2>Descubre el programa del Día 2</h2>
          <a href="#"></a>
        </div>
        <div class="collapse bordered expanded" id="day2program">
          <ul>
            <li>- Cómo separar módulos que están unidos y no se pueden probar.</li>
            <li>- Cómo construir una red de seguridad para cambiar el código.</li>
            <li>- Cómo arreglar bugs usando TDD.</li>
            <li>- Cómo añadir una nueva funcionalidad usando TDD.</li>
            <li>- Técnicas avanzadas para modificar el código y orientarte en nuevos proyectos.</li>
            <li>- Estrategias para escribir sobre Legacy minimizando el riesgo y alternativas para evitar reescribirlo de nuevo.</li>
            <li>- Cómo identificar de manera exacta los módulos cuya mejora supondrá un alto ROI.</li>
          </ul>
        </div>
        <p><a class="button" data-scroll="sect-register" href="#">Inscríbete</a></p>
      </div>
    </div>
  </div>
</section>
-->

<section class="light">
  <div class="container">
    <div class="row mt-3 mb-3">
			<div class="col-md-5 order-md-first order-sm-last order-last photo">
				<img class="img-fluid pad" src="/assets/img/legacy/image-pedro-pardal-left.png" />
			</div>
			<div class="col-md-7">
        <h2>Conoce a tu profesor</h2>
        <p><img class="arrow-down" src="/assets/img/arrow-down-primary.svg"/></p>
        <p>Mi nombre es <em>Pedro Pardal, Technical Coach en Exeal</em> y desarrollador de software con 11 años de experiencia.</p>
        <p>He trabajado en diferentes empresas (Tuenti, Trivago, Social Point, Mango) como Software Engineer, Tech Lead y Technical Coach. En cada proyecto he tenido que enfrentarme a Legacy Code. Por eso ahora ayudo a que otras personas puedan enfrentarse con éxito a trabajar sobre código legacy con seguridad y garantías.</p>
      </div>
    </div>
  </div>
</section>

<section class="dark background background-03">
  <div class="container">
    <div class="row mt-3 mb-3">
      <div class="col-md-7">
        <h2>¿Cuándo es la próxima edición?</h2>
        <p><img class="arrow-down" src="/assets/img/arrow-down-primary.svg"/></p>
        <p>La próxima edición del curso se celebrará <em>online por videoconferencia</em>, desde el 21 de Septiembre de 2020 al 1 de Octubre de 2020. Constará de 8 sesiones de 2 horas, de Lunes a Jueves, de 18:30 a 20:30 (hora de España).</p>
        <p>Si eres una empresa y estás interesado en <em>celebrar el curso para tu empresa</em> u hospedarlo para la comunidad, por favor ponte en contacto con nosotros.</p>
        <a class="button" target="_blank" href="https://forms.gle/NG2R1GrpXzEn1vBP7">Contáctanos</a>
      </div>
      <div class="col-md-5 photo d-none d-sm-none d-md-block">
				<img class="img-fluid pad" src="/assets/img/photo-training-module.png" />
			</div>
    </div>
  </div>
</section>

<section id="sect-pricing" class="gloaming">
	<div class="container">
		<div class="row">
			<div class="col-md-2 d-none d-sm-none d-md-block">
				<h2><img class="arrow-right" src="/assets/img/arrow-right-secondary.svg" /></h2>
			</div>
			<div class="col-md-10 col-sm-12">
        <h2>Descubre nuestros <em>precios</em>.</h2>
        <div class="row">
          <div class="col-xl-6 mb-3">
            <div class="box price-box-left">
              <div class="flap flap-top-right"></div>
              <p class="price">350<sup>€*</sup></p>
              <h3>Early bird</h3>
              <p>Limitado a las 6 primeras plazas, hasta el 16/08/2020.</p>
              <p class="taxes">* precio/persona, IVA no incluido</p>
              <!--<a data-scroll="sect-register" href="#" class="button">Inscríbete</a>-->
            </div>
          </div>
          <div class="col-xl-6 mb-3">
            <div class="box price-box-right">
              <div class="flap flap-top-right"></div>
              <p class="price">450<sup>€*</sup></p>
              <h3>Precio regular</h3>
              <p>Resto de plazas hasta completar aforo, o a partir del 16/08/2020.</p>
              <p class="taxes">* precio/persona, IVA no incluido</p>
              <!--<a data-scroll="sect-register" href="#" class="button">Inscríbete</a>-->
            </div>
          </div>
        </div>
			</div>
		</div>
	</div>
</section>

<!--
<section class="dark background background-03">
  <div class="container">
    <div class="row">
      <div class="col-md-2 d-none d-sm-none d-md-block">
        <h2><img class="arrow-right" src="/assets/img/arrow-right-secondary.svg" /></h2>
      </div>
      <div class="col-md-10 col-sm-12">
        <h2>Si eres <em>empresa</em>, esto te puede interesar.</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 mb-3">
        <div class="box">
          <div class="flap flap-top-right"></div>
          <p>Tendrás la posibilidad de elegir si quieres hacerlo online o prefieres que nos desplacemos a vuestras oficinas de manera presencial.</p>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="box">
          <div class="flap flap-top-right"></div>
          <p>El formato del curso se basa en &quot;pair programming&quot; mediante ejercicios de katas, por videoconferencia, en el que vas a poder consultar al tutor sobre cualquier duda o pregunta que te surja.</p>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="box">
          <div class="flap flap-top-right"></div>
          <p>Habrá un 3<sup>er</sup> día 100% práctico en el que trabajaremos sobre el Legacy Code de la empresa para corregir fallos y añadir funcionalidades.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p><a class="button center-horizontal" data-scroll="sect-register" href="#">Quiero saber más</a></p>
      </div>
    </div>
  </div>
</section>
-->

<!--
<section class="gloaming">
  <div class="container">
    <div class="row">
      <div class="col-md-2 d-none d-sm-none d-md-block">
        <h2><img class="arrow-right" src="/assets/img/arrow-right-secondary.svg" /></h2>
      </div>
      <div class="col-md-10 col-sm-12">
        <h2>Preguntas frecuentes</h2>
        <dl class="faq">
          <dt data-toggle="collapse" href="#question1">¿Hay alguna garantía?</dt>
          <dd class="collapse" id="question1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget pellentesque dui, eu euismod nunc.</dd>
      
          <dt data-toggle="collapse" href="#question2">¿Se puede pagar a plazos?</dt>
          <dd class="collapse" id="question2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget pellentesque dui, eu euismod nunc.</dd>
      
          <dt data-toggle="collapse" href="#question3">¿Cómo se hacen los pagos?</dt>
          <dd class="collapse" id="question3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget pellentesque dui, eu euismod nunc.</dd>
        </dl>
      </div>
    </div>
  </div>
</section>
-->

<section id="sect-register" class="dark background background-02">
  <div class="container">
    <div class="row">
      <div class="col-md-2 d-none d-sm-none d-md-block">
        <h2><img class="arrow-right" src="/assets/img/arrow-right-secondary.svg" /></h2>
      </div>
      <div class="col-md-10 col-sm-12">
        <h2>Contacta con nosotros para <em>reservar</em> tu plaza antes de que se agoten.</h2>
        <a class="button" target="_blank" href="https://forms.gle/NG2R1GrpXzEn1vBP7">Inscríbete</a>
      </div>
    </div>
  </div>
</section>
{{ end }}
