{{ define "main" }}
<section class="dark background background-01-simple">
  <div class="container">
    <div class="row mt-3 mb-3">
      <div class="col-md-7 mb-3">
        <h1>Legacy Code Training</h1>
        <h2>No tener los conocimientos necesarios para modificar <em>Legacy Code</em> te está haciendo perder mucho <em>tiempo, esfuerzo y confianza</em> dentro del equipo de tu empresa.</h2>
        <a class="button" href="#inscribete">Inscríbete</a>
      </div>
      <div class="col-md-5 photo">
				<img class="img-fluid" src="/assets/img/legacy/code-snippets.png" />
			</div>
    </div>
  </div>
</section>

<section class="light">
  <div class="container">
		<div class="row mt-3 mb-3">
			<div class="col-md-5 order-md-first order-sm-last order-last photo">
				<img class="img-fluid" src="/assets/img/photo-about-module.png" />
			</div>
			<div class="col-md-7">
        <h2>A veces parece que la mejor solución para evitar trabajar sobre Legacy Code es &quot;parar las máquinas&quot; y reescribir el código desde cero. <em>La experiencia nos dice que no</em>.</h2>
        <p><img class="arrow-down" src="/assets/img/arrow-down-primary.svg"/></p>
        <p>Enfrentarte a Legacy Code es solo cuestión de tiempo, aunque vuelvas a escribir el código desde cero, en menos tiempo del que piensas ese código que has escrito va a ser por su naturaleza irremediablemente Legacy Code.</p>
      </div>
    </div>
  </div>
</section>

<section class="dark">
  <div class="container">
    <div class="row mt-3 mb-3">
      <div class="col-md-7">
        <h2>Trabajar sobre un proyecto de Legacy Code sin miedo a &quot;romper&quot; todo el sistema, <em>es posible</em>.</h2>
        <p>Con las habilidades y herramientas adecuadas puedes corregir, editar y añadir nuevas funcionalidades sobre un proyecto de Legacy Code ahorrándote meses de trabajo, esfuerzo y dinero.</p>
        <p>Es lo que hemos aprendido con la experiencia y nuestros alumnos lo corroboran.</p>
        <p><a data-scroll="sect-testimonials" href="#"><img class="arrow-down" src="/assets/img/arrow-down-secondary.svg" /></a></p>
      </div>
      <div class="col-md-5 photo">
				<img class="img-fluid" src="/assets/img/legacy/karateka.png" />
			</div>
    </div>
  </div>
</section>

<section id="sect-testimonials" class="light">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="service">
					<div class="flap"></div>
					<p>&ldquo;El curso de legacy code de Exeal me dej&oacute; un mont&oacute;n de tips &uacute;tiles que vienen muy bien para aplicar en el d&iacute;a a d&iacute;a. Adem&aacute;s de aprender y reforzar estrategias existentes para que el legacy sea un poco m&aacute;s friendly y no tan temido. &iexcl;Lo s&uacute;per recomiendo!&rdquo;</p>
					<div>
						<img class="rounded-circle avatar" src="/assets/img/testimonials/meri-herrera.jpeg"/>
						<p>Meri Herrera, Senior Software Engineer @ Voxel Group</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="gloaming">
  <div class="container">
    <div class="row">
      <div class="col-md-2 d-none d-sm-none d-md-block">
        <h2><img class="arrow-right" src="/assets/img/arrow-right-secondary.svg" /></h2>
      </div>
      <div class="col-md-10 col-sm-12">
        <h2>El programa <em>&quot;Legacy Code Training&quot;</em> de Exeal es diferente.</h2>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-4">
        <div class="icon-container">
          <img src="/assets/img/legacy/icons/icon-01.svg" />
        </div>
        <p>Durante <em>2 días</em> (8 horas cada día) vas a trabajar teoría y práctica sobre un proyecto de Legacy Code.</p>
      </div>
      <div class="col-md-4">
        <div class="icon-container">
          <img src="/assets/img/legacy/icons/icon-02.svg" />
        </div>
        <p><span>El formato del programa se basa en <em>“pair programming”</em> mediante <em>ejercicios de katas</em>, por videoconferencia en el que vas a poder consultar al tutor sobre cualquier duda o pregunta que te surja.</p>
      </div>
      <div class="col-md-4">
        <div class="icon-container">
          <img src="/assets/img/legacy/icons/icon-03.svg" />
        </div>
        <p>El programa intensivo es <em>personalizado</em> y <em>adaptable</em> a cada persona o grupo, por ese motivo y para ofrecer el mejor servicio nuestras plazas están limitadas a <em>12 personas</em>.</p>
      </div>
      <div class="col-md-4">
        <div class="icon-container">
          <img src="/assets/img/legacy/icons/icon-04.svg" />
        </div>
        <p>Podrás trabajar sobre <em>tu propio proyecto de Legacy Code</em> siempre que sea open source o, en el caso de las empresas, el propio código de la misma.</p>
      </div>
      <div class="col-md-4">
        <div class="icon-container">
          <img src="/assets/img/legacy/icons/icon-05.svg" />
        </div>
        <p>Una vez finalizado el programa de 2 días tendrás <em>acceso al grupo privado de Slack</em> “Exeal alumni”, para que junto al equipo y alumnos de otras ediciones puedas resolver tus dudas.</p>
      </div>
      <div class="col-md-4">
        <div class="icon-container">
          <img src="/assets/img/legacy/icons/icon-06.svg" />
        </div>
        <p>Te daremos <em>consejos y sugerencias</em>, una vez acabado el programa, para que puedas enfrentarte tu solo al proyecto de la empresa sobre el que estás trabajando.</p>
      </div>
    </div>
  </div>
</section>

<section class="dark background background-02">
  <div class="container">
    <div class="row">
      <div class="col-md-2 d-none d-sm-none d-md-block">
        <h2><img class="arrow-right" src="/assets/img/arrow-right-secondary.svg" /></h2>
      </div>
      <div class="col-md-10 col-sm-12">
        <h2>En este programa intensivo 100% online, por videoconferencia, <em>vas a aprender</em> a:</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul class="row ticked">
          <li class="col-md-6">Identificar errores existentes en Legacy Code.</li>
          <li class="col-md-6">Entender cómo romper dependencias en código heredado.</li>
          <li class="col-md-6">Diferentes técnicas para la refactorización del código.</li>
          <li class="col-md-6">Añadir nuevas funcionalidades con éxito o corregir errores sobre Legacy Code.</li>
          <li class="col-md-6">Reglas que te ayudarán a escribir y mejorar el código heredado.</li>
          <li class="col-md-6">Cómo y cuando usar los diferentes test para identificar el código que debes modificar.</li>
          <li class="col-md-6">Separar módulos que están unidos y no se puede probar.</li>
          <li class="col-md-6">Cómo aplicar con éxito estas herramientas a</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="light">
  <div class="container">
    <div class="row">
      <div class="col-md-2 d-none d-sm-none d-md-block">
        <h2><img class="arrow-right" src="/assets/img/arrow-right-secondary.svg" /></h2>
      </div>
      <div class="col-md-10 col-sm-12">
        <h2>Durante 2 días (8 horas cada día) vas a trabajar teoría y práctica sobre un <em>proyecto de Legacy Code</em>.</h2>
        <p>Esto es lo que vas a aprender durante la duración del programa.</p>
        <!-- TODO: Add program details -->
      </div>
    </div>
  </div>
</section>

<section class="dark background background-03">
  <div class="container">
    <div class="row">
      <div class="col-md-2 d-none d-sm-none d-md-block">
        <h2><img class="arrow-right" src="/assets/img/arrow-right-secondary.svg" /></h2>
      </div>
      <div class="col-md-10 col-sm-12">
        <h2>Si eres empresa, esto te puede interesar</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <p>Tendrás la posibilidad de elegir si quieres hacerlo online o prefieres que nos desplacemos a vuestras oficinas de manera presencial.</p>
      </div>
      <div class="col-md-4">
        <p>El formato del programa se basa en &quot;pair programming&quot; mediante ejercicios de katas, por videoconferencia, en el que vas a poder consultar al tutor sobre cualquier duda o pregunta que te surja.</p>
      </div>
      <div class="col-md-4">
        <p>Habrá un 3o día 100% práctico en el que trabajaremos sobre el Legacy Code de la empresa para corregir fallos y añadir funcionalidades.</p>
      </div>
    </div>
    <a class="button" href="#empresas">Quiero más información sobre el programa para empresas</a>
  </div>
</section>

<section class="light">
  <div class="container">

    <div class="row mt-3 mb-3">
			<div class="col-md-5 order-md-first order-sm-last order-last photo">
				<img class="img-fluid" src="/assets/img/legacy/image-pedro-pardal-left.png" />
			</div>
			<div class="col-md-7">
        <h2>Conoce a tu profesor</h2>
        <p><img class="arrow-down" src="/assets/img/arrow-down-primary.svg"/></p>
        <p>Mi nombre es <em>Pedro Pardal, CEO de Exeal</em> y desarrollador de software con 11 años de experiencia.</p>
        <p>He trabajado en diferentes empresas (Tuenti, Trivago, Social Point o Mango) como Software engineer, senior engineer, team lead y technical coach. En cada proyecto he tenido que enfrentarme a Legacy Code. Por eso ahora ayudo a que otras personas puedan enfrentarse con éxito a escribir sobre código Legacy sin necesidad de reescribirlo todo de nuevo.</p>
      </div>
    </div>
  </div>
</section>

<section class="gloaming">
  <div class="container">
    <div class="row">
      <div class="col-md-2 d-none d-sm-none d-md-block">
        <h2><img class="arrow-right" src="/assets/img/arrow-right-secondary.svg" /></h2>
      </div>
      <div class="col-md-10 col-sm-12">
        <h2>Preguntas frecuentes</h2>
        <!-- TODO: Preguntas frecuentes -->
      </div>
    </div>
  </div>
</section>

<section class="dark background background-02">
  <div class="container">
    <div class="row">
      <div class="col-md-2 d-none d-sm-none d-md-block">
        <h2><img class="arrow-right" src="/assets/img/arrow-right-secondary.svg" /></h2>
      </div>
      <div class="col-md-10 col-sm-12">
        <h2>Quiero reservar mi plaza como particular, antes de que se agoten.</h2>
        <a class="button" href="#inscribete">Inscríbete ahora</a>
      </div>
    </div>
  </div>
</section>
{{ end }}