{{ define "main" }}
<section class="dark background background-01-simple">
  <div class="container">
    <div class="row mt-3 mb-3">
      <div class="col-md-7 mb-3">
        <h1 class="arrow-right">Legacy Code Training</h1>
        <h2>No tener los conocimientos necesarios para modificar <em>Legacy Code</em> te está haciendo perder mucho <em>tiempo, esfuerzo y confianza</em> dentro del equipo de tu empresa.</h2>
        <a class="button" data-scroll="purchase" href="#">Inscríbete</a>
      </div>
      <div class="col-md-5 photo d-none d-sm-none d-md-block">
				<img class="img-fluid" src="/assets/img/legacy/code-snippets.png" />
			</div>
    </div>
  </div>
</section>

<section class="light">
  <div class="container">
		<div class="row mt-3 mb-3">
			<div class="col-md-5 order-md-first order-sm-last order-last photo">
				<img class="img-fluid" src="/assets/img/photo-about-module.png" />
			</div>
			<div class="col-md-7">
        <h2>A veces, parece que la mejor solución para evitar trabajar sobre Legacy Code es &quot;parar las máquinas&quot; y reescribir el código desde cero. <em>La experiencia nos dice que no</em>.</h2>
        <p><img class="arrow-down" src="/assets/img/arrow-down-primary.svg"/></p>
        <p>Enfrentarte a Legacy Code es solo cuestión de tiempo, aunque vuelvas a escribir el código desde cero, en menos tiempo del que piensas ese código que has escrito va a ser por su naturaleza irremediablemente Legacy Code.</p>
      </div>
    </div>
  </div>
</section>

<section class="dark">
  <div class="container">
    <div class="row mt-3 mb-3">
      <div class="col-md-7">
        <h2>Trabajar sobre un proyecto de Legacy Code sin miedo a &quot;romper&quot; todo el sistema, <em>es posible</em>.</h2>
        <p>Con las habilidades y herramientas adecuadas puedes corregir, editar y añadir nuevas funcionalidades sobre un proyecto de Legacy Code ahorrándote meses de trabajo, esfuerzo y dinero.</p>
        <p>Es lo que hemos aprendido con la experiencia y nuestros alumnos lo corroboran.</p>
        <p><a data-scroll="sect-testimonials" href="#"><img class="arrow-down" src="/assets/img/arrow-down-secondary.svg" /></a></p>
      </div>
      <div class="col-md-5 photo d-none d-sm-none d-md-block">
				<img class="img-fluid" src="/assets/img/legacy/karateka.png" />
			</div>
    </div>
  </div>
</section>

<section id="sect-testimonials" class="light">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
        <div id="carousel-testimonials" class="carousel slide" data-ride="carousel">
          <div class="service">
            <div class="flap"></div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <p>&ldquo;El training de legacy code de Exeal me dejó un montón de tips útiles que vienen muy bien para aplicar en el día a día. Además de aprender y reforzar estrategias existentes para que el código legacy sea un poco más amigable y no tan temido. ¡Lo súper recomiendo!&rdquo;</p>
                  <div class="avatar-with-name">
                    <img class="rounded-circle avatar" src="/assets/img/testimonials/meri-herrera.jpeg"/>
                    <div class="customer-name">
                      <p>Meri Herrera</p>
                      <p>Software Engineer @ Voxel Group</p>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <p>&ldquo;Hasta ahora, cambiaba el código legacy cruzando los dedos para que todo funcionara correctamente, sin ningún tipo de test. El curso con Pedro ha sido un punto de inflexión, he adquirido herramientas para que mi código sea de mucha mejor calidad, y como protegerlo con tests automáticos.&rdquo;</p>
                  <div class="avatar-with-name">
                    <img class="rounded-circle avatar" src="/assets/img/testimonials/humberto-braojos.jpeg"/>
                    <div class="customer-name">
                      <p>Humberto Braojos</p>
                      <p>Software Engineer @ Voxel Group</p>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <p>&ldquo;Ahora me enfrento a los cambios en el código legacy con mucha más tranquilidad, confianza en el resultado y eficiencia. Resaltaría particularmente los ejercicios de extraer dependencias, solía ser el punto de mayor dolor al añadir cobertura de tests.&rdquo;</p>
                  <div class="avatar-with-name">
                    <img class="rounded-circle avatar" src="/assets/img/testimonials/fermin-saez.jpeg"/>
                    <div class="customer-name">
                      <p>Fermín Sáez</p>
                      <p>Software Engineer @ Voxel Group</p>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          
          <div class="carousel-indicators-parent">
            <ol class="carousel-indicators">
              <li data-target="#carousel-testimonials" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-testimonials" data-slide-to="1"></li>
              <li data-target="#carousel-testimonials" data-slide-to="2"></li>
            </ol>
            <a href="#carousel-testimonials" data-slide="next" role="button"><img class="arrow-right" src="/assets/img/arrow-right-secondary.svg" /></a>
          </div>
        </div>
			</div>
		</div>
	</div>
</section>

<section class="gloaming">
  <div class="container">
    <div class="row">
      <div class="col-md-2 d-none d-sm-none d-md-block">
        <h2><img class="arrow-right" src="/assets/img/arrow-right-secondary.svg" /></h2>
      </div>
      <div class="col-md-10 col-sm-12">
        <h2>El programa <em>&quot;Legacy Code Training&quot;</em> de Exeal es diferente.</h2>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-4">
        <div class="icon-container">
          <img src="/assets/img/legacy/icons/icon-01.svg" />
        </div>
        <p>Durante <em>2 días</em> (8 horas cada día) vas a trabajar teoría y práctica sobre un proyecto de Legacy Code.</p>
      </div>
      <div class="col-md-4">
        <div class="icon-container">
          <img src="/assets/img/legacy/icons/icon-02.svg" />
        </div>
        <p><span>El formato del programa se basa en <em>“pair programming”</em> mediante <em>ejercicios de katas</em>, por videoconferencia en el que vas a poder consultar al tutor sobre cualquier duda o pregunta que te surja.</p>
      </div>
      <div class="col-md-4">
        <div class="icon-container">
          <img src="/assets/img/legacy/icons/icon-03.svg" />
        </div>
        <p>El programa intensivo es <em>personalizado</em> y <em>adaptable</em> a cada persona o grupo, por ese motivo y para ofrecer el mejor servicio nuestras plazas están limitadas a <em>12 personas</em>.</p>
      </div>
      <div class="col-md-4">
        <div class="icon-container">
          <img src="/assets/img/legacy/icons/icon-04.svg" />
        </div>
        <p>Podrás trabajar sobre <em>tu propio proyecto de Legacy Code</em> siempre que sea open source o, en el caso de las empresas, el propio código de la misma.</p>
      </div>
      <div class="col-md-4">
        <div class="icon-container">
          <img src="/assets/img/legacy/icons/icon-05.svg" />
        </div>
        <p>Una vez finalizado el programa de 2 días tendrás <em>acceso al grupo privado de Slack</em> “Exeal alumni”, para que junto al equipo y alumnos de otras ediciones puedas resolver tus dudas.</p>
      </div>
      <div class="col-md-4">
        <div class="icon-container">
          <img src="/assets/img/legacy/icons/icon-06.svg" />
        </div>
        <p>Te daremos <em>consejos y sugerencias</em>, una vez acabado el programa, para que puedas enfrentarte tu solo al proyecto de la empresa sobre el que estás trabajando.</p>
      </div>
    </div>
  </div>
</section>

<section class="dark background background-02">
  <div class="container">
    <div class="row">
      <div class="col-md-2 d-none d-sm-none d-md-block">
        <h2><img class="arrow-right" src="/assets/img/arrow-right-secondary.svg" /></h2>
      </div>
      <div class="col-md-10 col-sm-12">
        <h2>En este programa intensivo 100% online, por videoconferencia, <em>vas a aprender</em> a:</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul class="row ticked">
          <li class="col-md-6">Identificar errores existentes en Legacy Code.</li>
          <li class="col-md-6">Entender cómo romper dependencias en código heredado.</li>
          <li class="col-md-6">Diferentes técnicas para la refactorización del código.</li>
          <li class="col-md-6">Añadir nuevas funcionalidades con éxito o corregir errores sobre Legacy Code.</li>
          <li class="col-md-6">Reglas que te ayudarán a escribir y mejorar el código heredado.</li>
          <li class="col-md-6">Cómo y cuando usar los diferentes test para identificar el código que debes modificar.</li>
          <li class="col-md-6">Separar módulos que están unidos y no se puede probar.</li>
          <li class="col-md-6">Cómo aplicar con éxito estas herramientas a</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="light">
  <div class="container">
    <div class="row">
      <div class="col-md-2 d-none d-sm-none d-md-block">
        <h2><img class="arrow-right" src="/assets/img/arrow-right-secondary.svg" /></h2>
      </div>
      <div class="col-md-10 col-sm-12">
        <h2>Durante <em>2 días</em> (8 horas cada día) vas a trabajar teoría y práctica sobre un <em>proyecto de Legacy Code</em>.</h2>
        <p>Esto es lo que vas a aprender durante la duración del programa.</p>

        <div class="bordered" data-toggle="collapse" href="#day1program">
          <div class="dropdown"></div>
          <h2>Descubre el programa del Día 1</h2>
          <a href="#"></a>
        </div>
        <div class="collapse bordered expanded" id="day1program">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget pellentesque dui, eu euismod nunc. Duis et neque urna. Aliquam a hendrerit turpis. Donec consequat ex risus, eu consectetur nunc hendrerit non. Nunc a nulla metus. Donec semper odio at bibendum vestibulum. Integer nunc mi, rutrum commodo mi id, faucibus varius tortor. Vivamus auctor ante eget nibh ultrices ornare. Cras dictum nec lorem non feugiat. In hac habitasse platea dictumst.</p>
          <ul>
            <li>- Foo</li>
            <li>- Bar</li>
            <li>- Baz</li>
          </ul>
          <p>Suspendisse nec pharetra libero, eu vulputate magna. Vivamus risus odio, luctus quis nunc vel, molestie tincidunt odio. Vestibulum imperdiet bibendum tellus, ut dictum eros feugiat non. In vehicula, dolor nec gravida dictum, lacus dolor faucibus enim, eget euismod risus augue ut lacus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque quis facilisis magna. Phasellus sagittis nisl vitae libero tempus, a interdum purus sagittis. Integer et purus sed metus efficitur tempor eu ac nibh. In aliquam non dolor sit amet facilisis. Sed quis accumsan tortor.</p>
          <p>Duis id pellentesque tellus. Nulla commodo dapibus lectus, eu pharetra massa mattis id. Nunc sed lacus sit amet nisi eleifend vehicula sed eget diam. Nulla at ultricies justo, ac elementum justo. Nullam in odio quis ante tempus imperdiet at a diam. Mauris pretium nisl tortor, quis feugiat arcu blandit eget. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus pharetra est ut ullamcorper cursus. Phasellus sit amet nunc fringilla, bibendum leo in, ornare ex. Vestibulum nulla quam, finibus et fermentum non, accumsan at lacus. Praesent pretium bibendum luctus. Aenean pellentesque posuere nisi, id lacinia tortor laoreet maximus. Donec venenatis, erat sit amet faucibus mattis, neque nibh ultrices dolor, a sollicitudin lorem nunc id nibh. Nam et turpis dolor.</p>
          <p>Cras in luctus dui. Quisque libero erat, efficitur a turpis et, malesuada malesuada ipsum. Etiam viverra dictum nisl, nec ornare nibh mollis quis. Integer non finibus lacus. Vestibulum vel dui in diam efficitur ornare consequat ut sapien. Morbi a felis eleifend, hendrerit neque quis, maximus quam. Cras tellus enim, aliquam eget nunc eu, accumsan vulputate magna. Nullam tincidunt justo eu elementum luctus.</p>
        </div>

        <div class="bordered mt-3" data-toggle="collapse" href="#day2program">
          <div class="dropdown"></div>
          <h2>Descubre el programa del Día 2</h2>
          <a href="#"></a>
        </div>
        <div class="collapse bordered expanded" id="day2program">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam a sapien id purus vestibulum varius. Nam eleifend dolor non sem accumsan sagittis. Vivamus eleifend ipsum iaculis leo facilisis fermentum. Ut pretium volutpat sem, eget vulputate mauris faucibus at. Mauris varius faucibus urna vitae sodales. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean purus nunc, pellentesque pulvinar congue eget, mollis in arcu.</p>
          <p>Aliquam erat volutpat. Phasellus erat metus, congue ac nibh a, bibendum dignissim mauris. In dignissim lorem vitae metus convallis tempor. Cras tincidunt rutrum nisl, sit amet malesuada lacus elementum vitae. Curabitur eu pharetra nulla. Nam et finibus quam, quis ultrices odio. Donec laoreet finibus urna, quis tempus turpis vestibulum a. Aenean tellus urna, sodales sed sem in, semper commodo ligula. Aenean ac pellentesque velit. Mauris ut sollicitudin nisl. Donec odio nulla, feugiat in lacus lacinia, ultrices sagittis dolor.</p>
          <p>Morbi posuere sem eu lectus maximus, at tempor leo accumsan. Donec ultricies luctus orci, at fringilla eros fermentum id. Donec purus eros, tempor et molestie quis, feugiat non turpis. Nulla et eros vestibulum, sodales tellus at, vulputate ex. Cras porttitor felis dolor, ut faucibus sapien egestas eu. Fusce nulla libero, tempor at molestie quis, posuere vel velit. Ut erat sem, pulvinar eu nisl a, maximus finibus tortor. Vestibulum vel mi enim. Nunc sollicitudin velit id erat vehicula, eget aliquet est aliquam.  </p>
        </div>

        <p><a class="button" data-scroll="purchase" href="#">Reservar plaza</a></p>
      </div>
    </div>
  </div>
</section>

<section class="gloaming">
	<div class="container">
		<div class="row">
			<div class="col-md-2 d-none d-sm-none d-md-block">
				<h2><img class="arrow-right" src="/assets/img/arrow-right-secondary.svg" /></h2>
			</div>
			<div class="col-md-10 col-sm-12">
				<h2>Descubre nuestros <em>precios</em>.</h2>
			</div>
		</div>

		<div class="row">
			<div class="col-xl-6 mb-3">
				<div class="service">
					<div class="flap"></div>
					<img src="/assets/img/legacy/pricing/early-bird-price.svg"/>
					<h3>Early bird</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget pellentesque dui, eu euismod nunc.</p>
          <p class="taxes">* IVA no incluido</p>
					<a data-scroll="purchase" href="#" class="button">Reservar plaza</a>
				</div>
			</div>
			<div class="col-xl-6 mb-3">
				<div class="service">
					<div class="flap"></div>
					<img src="/assets/img/legacy/pricing/regular-price.svg"/>
					<h3>Normal price</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget pellentesque dui, eu euismod nunc</p>
          <p class="taxes">* IVA no incluido</p>
					<a data-scroll="purchase" href="#" class="button">Reservar plaza</a>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="dark background background-03">
  <div class="container">
    <div class="row">
      <div class="col-md-2 d-none d-sm-none d-md-block">
        <h2><img class="arrow-right" src="/assets/img/arrow-right-secondary.svg" /></h2>
      </div>
      <div class="col-md-10 col-sm-12">
        <h2>Si eres <em>empresa</em>, esto te puede interesar.</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 mb-3">
        <div class="service">
          <div class="flap"></div>
          <p>Tendrás la posibilidad de elegir si quieres hacerlo online o prefieres que nos desplacemos a vuestras oficinas de manera presencial.</p>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="service">
          <div class="flap"></div>
          <p>El formato del programa se basa en &quot;pair programming&quot; mediante ejercicios de katas, por videoconferencia, en el que vas a poder consultar al tutor sobre cualquier duda o pregunta que te surja.</p>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="service">
          <div class="flap"></div>
          <p>Habrá un 3<sup>er</sup> día 100% práctico en el que trabajaremos sobre el Legacy Code de la empresa para corregir fallos y añadir funcionalidades.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p><a class="button center-horizontal" data-scroll="purchase" href="#">Quiero saber más</a></p>
      </div>
    </div>
  </div>
</section>

<section class="light">
  <div class="container">

    <div class="row mt-3 mb-3">
			<div class="col-md-5 order-md-first order-sm-last order-last photo">
				<img class="img-fluid" src="/assets/img/legacy/image-pedro-pardal-left.png" />
			</div>
			<div class="col-md-7">
        <h2>Conoce a tu profesor</h2>
        <p><img class="arrow-down" src="/assets/img/arrow-down-primary.svg"/></p>
        <p>Mi nombre es <em>Pedro Pardal, CEO de Exeal</em> y desarrollador de software con 11 años de experiencia.</p>
        <p>He trabajado en diferentes empresas (Tuenti, Trivago, Social Point o Mango) como Software engineer, senior engineer, team lead y technical coach. En cada proyecto he tenido que enfrentarme a Legacy Code. Por eso ahora ayudo a que otras personas puedan enfrentarse con éxito a escribir sobre código Legacy sin necesidad de reescribirlo todo de nuevo.</p>
      </div>
    </div>
  </div>
</section>

<section class="gray">
  <div class="container">
    <div class="row">
      <div class="col-md-2 d-none d-sm-none d-md-block">
        <h2><img class="arrow-right" src="/assets/img/arrow-right-secondary.svg" /></h2>
      </div>
      <div class="col-md-10 col-sm-12">
        <h2>Preguntas frecuentes</h2>
        <dl class="faq">
          <dt data-toggle="collapse" href="#question1">¿Hay alguna garantía?</dt>
          <dd class="collapse" id="question1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget pellentesque dui, eu euismod nunc.</dd>
      
          <dt data-toggle="collapse" href="#question2">¿Se puede pagar a plazos?</dt>
          <dd class="collapse" id="question2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget pellentesque dui, eu euismod nunc.</dd>
      
          <dt data-toggle="collapse" href="#question3">¿Cómo se hacen los pagos?</dt>
          <dd class="collapse" id="question3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget pellentesque dui, eu euismod nunc.</dd>
        </dl>
      </div>
    </div>
  </div>
</section>

<section id="purchase" class="dark background background-02">
  <div class="container">
    <div class="row">
      <div class="col-md-2 d-none d-sm-none d-md-block">
        <h2><img class="arrow-right" src="/assets/img/arrow-right-secondary.svg" /></h2>
      </div>
      <div class="col-md-10 col-sm-12">
        <h2>Quiero <em>reservar</em> mi plaza como particular, antes de que se agoten.</h2>
        <a class="button" href="#">Inscríbete ahora</a>
      </div>
    </div>
  </div>
</section>
{{ end }}