{{ define "main" }}
<section id="sect-newsletter" class="dark background background-01">
  <div class="container">
    <div class="row">
      <div class="col-md-7 vertical-center">
        <h1>Recibe en tu email <em>contenido de valor</em> sobre desarrollo de software, buenas prácticas de ingeniería y desarrollo de producto.</h1>
      </div>
      <div class="col-md-5">
        {{ partial "newsletter/signupform.html" . }}
      </div>
    </div>
  </div>
</section>

<section id="sect-prev-entries">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Entradas anteriores de la newsletter</h2>
      </div>
    </div>
    <div class="row">
      {{ range (.Paginator 12).Pages }}
      <div class="col-12">
        {{- partial "newsletter/postcard.html" . -}}
      </div>
      {{ end }}
    </div>
    {{- template "_internal/pagination.html" . -}}
  </div>
</section>

{{ end }}
