{{ define "main" }}
<section id="sect-thank-you" class="dark background background-01">
  <div class="container thank-you-hero vertical-center">
    <div class="row">
      <div class="col-md-7">
        <h1>Recibe en tu email <em>contenido de valor</em> sobre desarrollo de software, buenas prácticas de ingeniería y desarrollo de producto.</h1>
      </div>
      <div class="col-md-5">
        {{ partial "newsletter/signupform.html" . }}
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      {{ range (.Paginator 12).Pages }}
      <div class="col-lg-4" data-author="{{ .Params.author }}">
        {{- partial "newsletter/postcard.html" . -}}
      </div>
      {{ end }}
    </div>
    {{- template "_internal/pagination.html" . -}}
  </div>
</section>

{{ end }}
