{{ define "main" }}
<section id="sect-thank-you" class="dark background background-05">
  <div class="container thank-you-hero vertical-center">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Recibe en tu email <em>contenido de valor</em> sobre desarrollo de software, buenas prácticas de ingeniería y desarrollo de producto.</h1>
        <p>
          <a data-scroll="sect-contact" href="#"
            ><img class="arrow-down" src="/assets/img/arrow-down-secondary.svg"
          /></a>
        </p>
      </div>
    </div>
  </div>
</section>

<section id="sect-contact" class="gloaming">
  <div class="container">
    <div class="row">
      <div class="col-md-2 d-none d-sm-none d-md-block">
        <h2>
          <img
            class="arrow-right"
            src="/assets/img/arrow-right-secondary.svg"
          />
        </h2>
      </div>
      <div class="col-md-10 col-sm-12">
        <h2>Déjanos tu nombre y tu mejor email para comenzar a recibir en tu bandeja de entrada éste y mucho más contenido de valor. Cancela cuando quieras.</h2>
        {{ partial "newsletter/signupform.html" . }}
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      {{ range (.Paginator 12).Pages }}
      <div class="col-lg-4" data-author="{{ .Params.author }}">
        {{- partial "newsletter/postcard.html" . -}}
      </div>
      {{ end }}
    </div>
    {{- template "_internal/pagination.html" . -}}
  </div>
</section>

{{ end }}
