<!doctype html>
<html lang="es">
  {{- partial "head.html" . -}}
  <body>
    {{- partial "blog/navbar.html" . -}}

    {{- partial "blog/hero.html" . -}}

    <section id="sect-body">
      {{- block "article" . }}{{- end }}
      <div class="container">
        <div class="row h-100 align-items-center">
          <div class="col-12 text-center">
            <ul class="tags tags-dark">
              {{ partial "tags.html" .}}
            </ul>
      
            <div class="post-author">
              <div class="avatar-with-name">
                <img class="rounded-circle" src="/assets/img/blog/authors/pedro-pardal.png"/>
                <div class="customer-name">
                  <h2>Pedro Pardal</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
              </div>
            </div>
      
            <ul class="list-inline">
              <li class="list-inline-item">
                <a target="_blank" href="https://twitter.com/ppardalj"> <img src="/assets/img/blog/social-icons/icon-twitter.svg"> </a>
              </li>
              <li class="list-inline-item">
                <a target="_blank" href="https://www.linkedin.com/in/pedro-pardal-jimena-36764344/"> <img src="/assets/img/blog/social-icons/icon-linkedin.svg"> </a>
              </li>
              <li class="list-inline-item">
                <a target="_blank" href="mailto:pedro.pardal@exeal.com"> <img src="/assets/img/blog/social-icons/icon-email.svg"> </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    {{- partial "blog/footer.html" . -}}

    {{- partial "javascript.html" . -}}
  </body>
</html>

{{ define "article" }}
<div class="container">
  <article>
    {{ .Content }}
  </article>
</div>
{{ end }}
