<!doctype html>
<html lang="es">
  {{- partial "head.html" . -}}
  <body>
    <nav class="navbar navbar-expand-lg navbar-shrink">
      <div class="container">
        <a href="/" class="navbar-brand">
          <img src="/assets/img/blog/logo-blog.svg" alt="Exeal Blog"/>
        </a>
        <!--
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <ul class="navbar-nav ml-auto">

            {{- block "nav-items" . }}
            {{- end }}
            
          </ul>
        </div>
        -->
      </div>
    </nav>
    <header class="hero">
      <div class="hero-mask">
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
              {{ partial "tags.html" .}}
              <h1><span class="underline">{{ .Title }}</span></h1>
              <h2>Pedro Pardal</h2>
			      	<p><a data-scroll="sect-about" href="#"><img class="arrow-down" src="/assets/img/arrow-down-secondary.svg" /></a></p>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section>
      {{- block "article" . }}{{- end }}

      <div class="container">
        <div class="row h-100 align-items-center">
          <div class="col-12 text-center">
            <ul class="tags tags-dark">
              <li>#coding</li>
              <li>#legacycode</li>
              <li>#software</li>
            </ul>
      
            <div class="post-author">
              <div class="avatar-with-name">
                <img class="rounded-circle" src="/assets/img/blog/authors/pedro-pardal.png"/>
                <div class="customer-name">
                  <h2>Pedro Pardal</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
              </div>
            </div>
      
            <ul class="list-inline">
              <li class="list-inline-item">
                <a target="_blank" href="https://twitter.com/ppardalj"> <img src="/assets/img/blog/social-icons/icon-twitter.svg"> </a>
              </li>
              <li class="list-inline-item">
                <a target="_blank" href="https://www.linkedin.com/in/pedro-pardal-jimena-36764344/"> <img src="/assets/img/blog/social-icons/icon-linkedin.svg"> </a>
              </li>
              <li class="list-inline-item">
                <a target="_blank" href="mailto:pedro.pardal@exeal.com"> <img src="/assets/img/blog/social-icons/icon-email.svg"> </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <footer class="black footer">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 text-lg-left">
            <img src="/assets/img/logo-exeal-footer.svg" alt="Exeal" />
            {{- block "footer-links" . }}{{- end }}
          </div>
          <div class="col-lg-6 text-lg-right">
            <ul class="list-inline text-lg-right mt-3 mt-lg-0">
              <li class="list-inline-item">
                <a target="_blank" href="https://twitter.com/exeal_es"> <img src="/assets/img/social/twitter.svg"> </a>
              </li>
              <li class="list-inline-item">
                <a target="_blank" href="https://www.linkedin.com/company/exeal/"> <img src="/assets/img/social/linkedin.svg"> </a>
              </li>
              <li class="list-inline-item">
                <a target="_blank" href="https://www.youtube.com/channel/UCxVspi-mashFr1RPGxSxEPA"> <img src="/assets/img/social/youtube.svg"> </a>
              </li>
              <li class="list-inline-item">
                <a target="_blank" href="https://github.com/exeal-es"> <img src="/assets/img/social/github.svg"> </a>
              </li>
              <li class="list-inline-item">
                <a target="_blank" href="mailto:hola@exeal.com"> <img src="/assets/img/social/email.svg"> </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    {{- partial "javascript.html" . -}}
  </body>
</html>

{{ define "article" }}
<div class="container">
  <article>
    {{ .Content }}
  </article>
</div>
{{ end }}
