{{ define "main" }}
<section id="sect-thank-you" class="dark background background-04">
  <div class="container vertical-center">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>¡Gracias por ponerte en contacto con nosotros, te responderemos lo antes posible!</h1>
      </div>
    </div>
  </div>
</section>

<section class="light">
	<div class="container">
		<div class="row mt-3 mb-3">
			<div class="col-md-5 order-md-first order-sm-last order-last photo">
				<img class="img-fluid" src="/assets/img/photo-thank-you-module.png" />
			</div>
			<div class="col-md-7">
        <h2>¿Quieres agendar una reunión?</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p><img class="arrow-down" src="/assets/img/arrow-down-primary.svg"/></p>
        <a href="#" class="button">Link a Calendly</a>
			</div>
		</div>
	</div>
</section>
{{ end }}

{{ define "footer-links" }}
<p><a href="#">Política de privacidad</p></p>
{{ end }}