{{ define "main" }}
<section id="sect-thank-you" class="dark background background-04">
  <div class="container thank-you-hero vertical-center">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>¡Gracias por ponerte en contacto con nosotros, te responderemos lo antes posible!</h1>
      </div>
    </div>
  </div>
</section>

<section class="light">
	<div class="container">
		<div class="row mt-3 mb-3">
			<div class="col-md-5 order-md-first order-sm-last order-last photo vertical-center">
        <img class="img-fluid" src="/assets/img/photo-thank-you-module.png" />
      </div>
			<div class="col-md-7 vertical-center">
        <div>
          <h2>¿Quieres agendar una reunión?</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <p><img class="arrow-down" src="/assets/img/arrow-down-primary.svg"/></p>
          <a href="#" class="button">Link a Calendly</a>
        </div>
			</div>
		</div>
	</div>
</section>

<section class="light">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="post-card hero-back-img">
          <div class="post-card-inner hero-back-img-mask vertical-center">
            <div>
              <h2>Pedro Pardal</h2>
              <h1><span class="underline">Lorem ipsum dolor sit amet, consectetur adipiscing elit</span></h1>
              <ul class="tags tags-light tags-small">
                <li><a href="#">#coding</a></li>
                <li><a href="#">#legacycode</a></li>
                <li><a href="#">#software</a></li>
              </ul>
              <div class="carousel-indicators-parent">
                <ol class="carousel-indicators">
                  <li data-target="#carousel-testimonials" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-testimonials" data-slide-to="1"></li>
                  <li data-target="#carousel-testimonials" data-slide-to="2"></li>
                </ol>
                <a href="#carousel-testimonials" data-slide="next" role="button"><img class="arrow-right" src="/assets/img/arrow-right-secondary.svg" /></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="post-card">
          <div class="post-card-inner">
            <div class="post-card-cover">
              {{ if .Params.tags }}
              <ul class="tags tags-light">
                {{ range $i, $tag := .Params.tags }}
                <li><a href="{{ relLangURL ( printf "tags/%s" ( $tag | urlize ) ) }}">#{{ $tag }}</a></li>
                {{ end }}
              </ul>
              {{ end }}
              <div class="post-title">
                <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
                <p class="author">Pedro Pardal</p>
              </div>
            </div>
            <div class="post-card-detail">
              <div class="post-card-summary"><a href="{{ .Permalink }}">{{ .Summary }}</div>
              <div class="post-card-reading-time">Tiempo de lectura: {{ math.Round (div (countwords .Content) 220.0) }} minutos</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="light">
  <div class="container vertical-center horizontal-center">
    <div class="row">
      <div class="col-md-12">
        <p><a href="/blog" class="button-hollow">Visita nuestro blog</a></p>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ define "footer-links" }}
<p><a href="#">Política de privacidad</p></p>
{{ end }}