<section id="sect-calendly" class="light">
  <div class="container">
    <div class="row mt-3 mb-3">
      <div
        class="
          col-md-5
          order-md-first order-sm-last order-last
          photo
          vertical-center
        "
      >
        <img
          class="img-fluid pad"
          src="/assets/img/photo-thank-you-module.png"
        />
      </div>
      <div class="col-md-7 vertical-center">
        <div>
          <h2>¿Quieres agendar una reunión?</h2>
          <p>
            Solicita una reunión online por videollamada para averiguar cómo
            podemos ayudarte, sin compromiso.
          </p>
          <p>
            <img class="arrow-down" src="/assets/img/arrow-down-primary.svg" />
          </p>
          <a target="_blank" href="https://calendly.com/exeal" class="button"
            >Agendar reunión</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
