<section id="sect-calendly" class="light">
  <div class="container">
    <div class="col-md-12 text-center">
      <h2>¿Quieres agendar una reunión?</h2>
      <p>
        Solicita una reunión online por videollamada para averiguar cómo podemos
        ayudarte
      </p>
    </div>
    <div
      class="calendly-inline-widget"
      data-url="https://calendly.com/exeal/call"
      style="min-width: 320px; height: 700px"
    ></div>
    <script
      type="text/javascript"
      src="https://assets.calendly.com/assets/external/widget.js"
      async
    ></script>
  </div>
</section>
