<form accept-charset="UTF-8" action="https://formspree.io/xdoponvg" method="post">
  <div class="row">
    <div class="col-md-6 form-group">
      <input class="form-control" id="name" name="name" type="text" placeholder="Nombre" required/>
    </div>
    <div class="col-md-6 form-group">
      <input class="form-control" id="surname" name="surname" type="text" placeholder="Apellidos" required/>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 form-group">
      <input class="form-control" id="email" name="email" type="email" placeholder="Email" required/>
    </div>
    <div class="col-md-6 form-group">
      <input class="form-control" id="phone" name="phone" type="text" placeholder="Tel&eacute;fono"/>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <input class="form-control" id="company" name="company" type="text" placeholder="Compa&ntilde;&iacute;a"/>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <textarea class="form-control" id="message" name="message" placeholder="Mensaje" required></textarea>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <input class="btn-submit" type="submit" name="submit" value="Enviar" />
    </div>
  </div>
</form>