<footer class="black">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 text-lg-left">
        <a href="/"
          ><img src="/assets/img/logo-exeal-footer.svg" alt="Exeal"
        /></a>
        <p>
          <a href="/equipo/">{{ i18n "linkteam" }}</a> |
          <a href="/jobs/extreme-programming-coach/">{{ i18n "linkjobs" }}</a> |
          <a href="/legal/legal-notice/">{{ i18n "linklegal" }}</a> |
          <a href="/legal/cookie-policy/">{{ i18n "linkcookiepolicy" }}</a> |
          <a href="/legal/privacy-policy/">{{ i18n "linkprivacypolicy" }}</a>
        </p>
      </div>
      <div class="col-lg-6 social-media">
        <ul class="list-inline text-lg-right mt-3 mt-lg-0">
          {{ range site.Data.social }}
          <li class="list-inline-item">
            <a target="_blank" href="{{ .url }}">
              <img src="/assets/img/social/{{ .name }}.svg" />
            </a>
          </li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
</footer>
