<!doctype html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<title>Exeal: Formación y coaching para desarrolladores</title>
		<!-- Meta -->

		<meta name="description" content="Transmitimos a tu equipo las competencias necesarias para desarrollar software de forma profesional.">
		<meta name="author" content="Exeal">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<!-- Open Graph -->
		<meta property="og:title" content="Exeal">
		<meta property="og:site_name" content="Exeal">
		<meta property="og:description" content="Transmitimos a tu equipo las competencias necesarias para desarrollar software de forma profesional.">
		<meta property="og:url" content="https://www.exeal.com/">
		<meta property="og:image" content="https://www.exeal.com/assets/img/open-graph.jpg">

		<!-- Twitter -->
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:site" content="@exeal_es">
		<meta name="twitter:title" content="Exeal">
		<meta name="twitter:description" content="Transmitimos a tu equipo las competencias necesarias para desarrollar software de forma profesional.">
		<meta name="twitter:image" content="https://www.exeal.com/assets/img/open-graph.jpg">

		<!-- Stylesheet -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="/assets/css/main.css" />

		<!-- Favicon -->
		<link rel="icon" type="image/png" href="/assets/img/favicon.png" />
		<link rel="apple-touch-icon" href="/assets/img/apple-touch-icon.png" />

		<!-- Google Analytics -->
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-172984297-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-172984297-1');
		</script>
	</head>

	<body>
    <nav class="dark navbar navbar-expand-lg navbar-dark navbar-shrink">
			<div class="container">
				<a href="/" class="navbar-brand">
					<img src="/assets/img/logo-exeal-header.svg" alt="Exeal"/>
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item"><a class="nav-link" data-scroll="sect-about" href="#">Acerca de</a></li>
						<li class="nav-item"><a class="nav-link" data-scroll="sect-services" href="#">Servicios</a></li>
						<li class="nav-item"><a class="nav-link" data-scroll="sect-contact" href="#">Contacto</a></li>
					</ul>
				</div>
			</div>
		</nav>