<li class="nav-item">
  <a class="nav-link" href="/eventos/">Próximos Eventos</a>
</li>

<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownResources" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{ i18n "navresources" }}
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdownResources">
    <a class="dropdown-item" href="/checklist-equipos-de-alto-rendimiento/">{{ i18n "navchecklist" }}</a>
    <a class="dropdown-item" href="/hacia-la-excelencia/">Comunidad de práctica</a>
    <a class="dropdown-item" href="/blog/">Blog</a>
    <a class="dropdown-item" href="/katas/">Katas</a>
  </div>
</li>

<li class="nav-item">
  <a class="nav-link nav-button" href="/contacto/">{{ i18n "navcontact" }}</a>
</li>
