<li class="nav-item">
  <a class="nav-link" href="/empresas">{{ i18n "navbusiness" }}</a>
</li>

<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownResources" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{ i18n "navresources" }}
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdownResources">
    <a class="dropdown-item" href="https://academia.exeal.com/">{{ i18n "navelearning" }}</a>
    <a class="dropdown-item" href="/lista-de-correo/">{{ i18n "navmailinglist" }}</a>
    <a class="dropdown-item" href="/las-10-claves-para-despegar-tu-carrera-como-desarrollador-en-2024/">{{ i18n "navdevguide2024" }}</a>
    <a class="dropdown-item" href="/blog/">Blog</a>
    <a class="dropdown-item" href="/katas/">{{ i18n "navkatas" }}</a>
  </div>
</li>

<li class="nav-item">
  <a class="nav-link nav-button" href="/contacto/">{{ i18n "navcontact" }}</a>
</li>
