<section id="sect-testimonials" class="light">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
        <div id="carousel-testimonials" class="carousel slide" data-ride="carousel">
          <div class="box">
            <div class="flap flap-top-right"></div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <p>&ldquo;El training de legacy code de Exeal me dejó un montón de tips útiles que vienen muy bien para aplicar en el día a día. Además de aprender y reforzar estrategias existentes para que el código legacy sea un poco más amigable y no tan temido. ¡Lo súper recomiendo!&rdquo;</p>
                  <div class="customer">
                    <img class="rounded-circle avatar" src="/assets/img/testimonials/meri-herrera.jpeg"/>
                    <div class="customer-info">
                      <p>Meri Herrera</p>
                      <p>Software Engineer @ Voxel Group</p>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <p>&ldquo;Hasta ahora, cambiaba el código legacy cruzando los dedos para que todo funcionara correctamente, sin ningún tipo de test. El curso con Pedro ha sido un punto de inflexión, he adquirido herramientas para que mi código sea de mucha mejor calidad, y como protegerlo con tests automáticos.&rdquo;</p>
                  <div class="customer">
                    <img class="rounded-circle avatar" src="/assets/img/testimonials/humberto-braojos.jpeg"/>
                    <div class="customer-info">
                      <p>Humberto Braojos</p>
                      <p>Software Engineer @ Voxel Group</p>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <p>&ldquo;Ahora me enfrento a los cambios en el código legacy con mucha más tranquilidad, confianza en el resultado y eficiencia. Resaltaría particularmente los ejercicios de extraer dependencias, solía ser el punto de mayor dolor al añadir cobertura de tests.&rdquo;</p>
                  <div class="customer">
                    <img class="rounded-circle avatar" src="/assets/img/testimonials/fermin-saez.jpeg"/>
                    <div class="customer-info">
                      <p>Fermín Sáez</p>
                      <p>Software Engineer @ Voxel Group</p>
                    </div>
                  </div>
                </div>
              </div>
          </div>

          <div class="carousel-indicators-parent">
            <ol class="carousel-indicators carousel-testimonials">
              <li data-target="#carousel-testimonials" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-testimonials" data-slide-to="1"></li>
              <li data-target="#carousel-testimonials" data-slide-to="2"></li>
            </ol>
            <a href="#carousel-testimonials" data-slide="next" role="button"><img class="arrow-right" src="/assets/img/arrow-right-secondary.svg" /></a>
          </div>
        </div>
			</div>
		</div>
	</div>
</section>
