<section class="light no-padding-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="blog-item blog-carousel hero-bg-img">
          <div class="blog-item-inner bg-mask vertical-center">
            <div id="carousel-testimonials" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">

                <div class="carousel-item active">
                  <p class="author-name">Pedro Pardal</p>
                  <h1><span class="underline"><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></span></h1>
                  <ul class="tags tags-light tags-small">
                    <li><a href="#">#coding</a></li>
                    <li><a href="#">#legacycode</a></li>
                    <li><a href="#">#software</a></li>
                  </ul>
                </div>

                <div class="carousel-item">
                  <p class="author-name">John Doe</p>
                  <h1><span class="underline"><a href="#">How to be awesome in three simple steps even skipping two</a></span></h1>
                  <ul class="tags tags-light tags-small">
                    <li><a href="#">#awesomeness</a></li>
                    <li><a href="#">#architecture</a></li>
                  </ul>
                </div>

                <div class="carousel-item">
                  <p class="author-name">Mariano Rajoy</p>
                  <h1><span class="underline"><a href="#">Es el vecino el que elije al alcalde, los vecinos, el alcalde</a></span></h1>
                  <ul class="tags tags-light tags-small">
                    <li><a href="#">#politica</a></li>
                    <li><a href="#">#presidente</a></li>
                    <li><a href="#">#vecinos</a></li>
                    <li><a href="#">#alcalde</a></li>
                  </ul>
                </div>

                <div class="blog-carousel-indicators-parent">
                  <ol class="carousel-indicators">
                    <li data-target="#carousel-testimonials" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-testimonials" data-slide-to="1"></li>
                    <li data-target="#carousel-testimonials" data-slide-to="2"></li>
                  </ol>
                  <a href="#carousel-testimonials" data-slide="next" role="button"><img class="arrow-right" src="/assets/img/arrow-right-secondary.svg" /></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="blog-item podcast-item">
          <div class="podcast-item-inner">
            <div class="podcast-widget">
            </div>
            <h2>Exeal Podcast</h2>
            <p class="episode-title">#1: Consultoría de software en Alemania</p>
            <div class="cta">
              <a class="button button-green" href="#">Escucha el podcast</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>