<div class="blog-item post-card">
  <div class="blog-item-inner bg-mask">
    <div class="blog-item-cover">
      {{ if .Params.tags }}
      <ul class="tags tags-light tags-small">
        {{ range $i, $tag := .Params.tags }}
        <li><a href="{{ relLangURL ( printf "tags/%s" ( $tag | urlize ) ) }}">#{{ $tag }}</a></li>
        {{ end }}
      </ul>
      {{ end }}
      <div class="post-title">
        <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        <p class="author">Pedro Pardal</p>
      </div>
    </div>
    <div class="blog-item-detail">
      <div class="blog-item-summary"><a href="{{ .Permalink }}">{{ .Summary }}</div>
      <div class="blog-item-reading-time">Tiempo de lectura: {{ math.Round (div (countwords .Content) 220.0) }} minutos</div>
    </div>
  </div>
</div>