<section class="dark background background-01">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Catálogo de <em>Katas de programación</em>.</h1>
        <h4>Mejora tus habilidades resolviendo desafíos reales de TDD, refactoring y diseño.</h4>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <!-- Main content -->
      <div class="katas-content col-lg-12">
        {{ if eq .Kind "term" }}
          <h2>Katas con la categoría "{{ .Title }}"</h2>
        {{ else if eq .Kind "section" }}
          <h2>Todas las katas</h2>
        {{ end }}
        {{ partial "katas/tagcloud.html" . }}

        {{ range (.Paginator 12).Pages }}
          {{- partial "katas/entry.html" . -}}
        {{ end }}
        {{- template "_internal/pagination.html" . -}}
      </div>

      <!-- Sidebar -->
      <!--
      <div class="katas-sidebar col-lg-5">
        {{ partial "katas/sidebar.html" . }}
      </div>
      -->
    </div>
  </div>
</section>
