{{ range .Site.Params.navbar }}
  {{- if eq .type "link" }}
    <li class="nav-item">
      <a class="nav-link" href="{{ .url }}">{{ .name }}</a>
    </li>
  {{- else if eq .type "button" }}
    <li class="nav-item">
      <a class="nav-link nav-button" href="{{ .url }}">{{ .name }}</a>
    </li>
  {{- else if eq .type "dropdown" }}
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown{{ .name | urlize }}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ .name }}
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown{{ .name | urlize }}">
        {{ range .items }}
          <a class="dropdown-item" href="{{ .url }}">{{ .name }}</a>
        {{ end }}
      </div>
    </li>
  {{- end }}
{{ end }}

<li class="nav-item">
  <a class="nav-link nav-button" href="/">Cursos</a>
</li>
