html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}table{border-collapse:collapse;border-spacing:0;}body{-webkit-text-size-adjust:none}mark{background-color:transparent;color:inherit}input::-moz-focus-inner{border:0;padding:0}input[type="text"],input[type="email"],select,textarea{-moz-appearance:none;-webkit-appearance:none;-ms-appearance:none;appearance:none}

html {
	font-size: 16pt;
	background-color: #182935;
}

.light {
	background-color: #FFFFFF;
	color: #182935
}

.gloaming {
	background-color: #F1FFF9;
}

.dark {
	background-color: #182935;
	color: #FFFFFF;
}

.black {
	background-color: #000000;
}

section {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

body {
	font-family: 'Work Sans', Sans-Serif;
	letter-spacing: 0.05rem;
	line-height: 1.75rem;
}

h1 {
	font-size: 1.75em;
}

h2 {
	font-size: 1.625em;
}

p, li, a {
	font-size: 1em;
}

h2 {
	margin-bottom: 1.25em;
}

p {
	margin-top: 1.25em;
	margin-bottom: 1.25em;
}

p em {
	font-style: italic;
	font-weight: bold;
}

li {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

a.button {
	background-color: #E6AD1C;
	color: #000000;
	text-decoration: none;
	font-size: 1.375em;
	border-radius: 2rem;
	height: 3rem;
	display: flex;
	justify-content: center;
  align-items: center;
}

ul.ticked li:before {
	content: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%2040%2040%22%3E%3Cpath%20d%3D%22M37.9%2C10.6l-3.2-3.2c-0.4-0.4-1-0.7-1.6-0.7c-0.6%2C0-1.2%2C0.2-1.6%2C0.7L15.9%2C23l-7-7c-0.4-0.4-1-0.7-1.6-0.7S6.1%2C15.6%2C5.6%2C16%20l-3.2%2C3.2c-0.4%2C0.4-0.7%2C1-0.7%2C1.6S2%2C22%2C2.4%2C22.5l8.6%2C8.6l3.2%2C3.2c0.4%2C0.4%2C1%2C0.7%2C1.6%2C0.7c0.6%2C0%2C1.2-0.2%2C1.6-0.7l3.2-3.2l17.2-17.2%20c0.4-0.4%2C0.7-1%2C0.7-1.6C38.6%2C11.6%2C38.4%2C11.1%2C37.9%2C10.6z%22%20fill%3D%22%2305E69B%22%20%2F%3E%3C%2Fsvg%3E');
	width: 1rem;
	display: inline-block;
}

nav {
	border-style: solid;
	border-color: #707070;
	border-bottom-width: 2px;
}

.background {
	background-attachment: fixed;
	background-position: center;
	background-repeat: repeat;
	background-size: cover;
}

.background.background-05 {
	background-image: url('images/container05.png');
}

.background.background-23 {
	background-image: url('images/container23.png');
}


.icons {
	cursor: default;
	padding: 0;
	letter-spacing: 0;
}

.icons li {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	z-index: 1;
}

.icons li a {
	display: flex;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}

.icons li a svg {
	display: block;
	position: relative;
	-moz-transition: fill 0.25s ease;
	-webkit-transition: fill 0.25s ease;
	-ms-transition: fill 0.25s ease;
	transition: fill 0.25s ease;
}

.icons li a + svg {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	-moz-pointer-events: none;
	-webkit-pointer-events: none;
	-ms-pointer-events: none;
	pointer-events: none;
	-moz-transition: fill 0.25s ease, stroke 0.25s ease;
	-webkit-transition: fill 0.25s ease, stroke 0.25s ease;
	-ms-transition: fill 0.25s ease, stroke 0.25s ease;
	transition: fill 0.25s ease, stroke 0.25s ease;
}

.icons li a .label {
	display: none;
}

#icons02 {
	font-size: 1em;
	width: calc(100% + 1.25rem);
	margin-left: -0.625rem;
}

#icons02 li {
	margin: 0.625rem;
}

#icons02 li a {
	border-radius: 2rem;
	width: 2em;
	height: 2em;
}

#icons02 li a svg {
	width: 60%;
	height: 60%;
}

#icons02 a svg {
	fill: #FFFFFF;
}

#icons02 a {
	border: solid 1px #FFFFFF;
}

#icons02 a:hover {
	border-color: #1fe589 !important;
}

#icons02 a:hover svg {
	fill: #1fe589 !important;
}

#icons02 .n01:hover {
	border-color: #1fe589 !important;
}

#icons02 .n01:hover svg {
	fill: #1fe589 !important;
}