.preventry {
  display: flex;
  align-items: stretch;
  padding: 1.5rem 0;
  position: relative;
  min-height: 180px;
}

.preventry-image {
  width: 180px;
  height: auto;
  flex-shrink: 0;
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.preventry-image img {
  width: 180px;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.preventry-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2rem;
}

.preventry-title {
  font-family: $h2-font, sans-serif;
  font-size: 1.5rem;
  margin: 0;
}

.preventry-subtitle {
  color: #555;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.05rem;
}

.preventry-meta {
  font-size: 1rem;
  margin-bottom: 1.2rem;
  display: flex;
  gap: 1.5rem;
}

.preventry-meta span {
  font-weight: 500;
}

.preventry-meta span:not(:last-child)::after {
  content: " |";
  margin-left: 0.7rem;
  color: $light-gray;
}

@media (max-width: 768px) {
  .preventry-meta span:not(:last-child)::after {
    content: "";
    margin-left: 0;
  }
  .preventry-meta {
    gap: 0.7rem;
  }
}
