{{ define "main" }}
<section class="dark background background-05">
  <div class="container">
    <div class="row mt-3 mb-3 justify-content-center align-items-center text-center">
      <div class="col-md-12">
        <h1>Acompañamiento técnico para tu equipo de desarrollo</h1>
        <h4>
          Ayudamos a líderes técnicos a mejorar las prácticas de su equipo para acelerar la entrega de software y eliminar los bugs.
        </h4>
        <p>
          <a data-scroll="sect-contact" href="#" class="button button-center">Charlemos sobre tu equipo</a>
        </p>
      </div>
    </div>
  </div>
</section>

<section id="sect-agenda" class="light">
  <div class="container">
    <div class="row">
      <div class="col-md-2 d-none d-sm-none d-md-block">
        <h2>
          <img
            class="arrow-right"
            src="/assets/img/arrow-right-secondary.svg"
          />
        </h2>
      </div>
      <div class="col-md-10 col-sm-12">
        <h2>
          Entregar software de calidad a tiempo <em>no tiene por qué ser doloroso.</em>
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p class="text-center">
          ¿Están preparados tu software y tus procesos para que tu equipo aporte valor de forma continua, cumpliendo las fechas de entrega? O por el contrario se oyen cosas como...
        </p>
        <ul class="row ticked-cross">
          <li class="col-md-6">"Estamos saturados arreglando bugs y no podemos añadir nuevas funcionalidades."</li>
          <li class="col-md-6">"Tenemos que dedicar un sprint entero a refactorizar."</li>
          <li class="col-md-6">"Al añadir la nueva funcionalidad se han roto otras tres."</li>
          <li class="col-md-6">"Es imposible trabajar porque hay demasiada deuda técnica."</li>
          <li class="col-md-6">"Fulanito se ha ido de vacaciones y es el único que controla este tema."</li>
          <li class="col-md-6">"El cambio ya está hecho, pero hasta la release de dentro de dos semanas no llegará a producción."</li>
        </ul>
        <p class="text-center">
          Sin las prácticas ni el mindset adecuados, tu equipo permanecerá <em>lento, ahogado con incidencias y frustrado</em>.
        </p>
        <p>
          <a data-scroll="sect-contact" href="#" class="button button-center">Charlemos sobre tu equipo</a>
        </p>
      </div>
    </div>
  </div>
</section>

<section id="sect-value-proposition" class="gloaming background background-06">
  <div class="container">
    <div class="row">
      <div class="col-md-2 d-none d-sm-none d-md-block">
        <h2>
          <img
            class="arrow-right"
            src="/assets/img/arrow-right-secondary.svg"
          />
        </h2>
      </div>
      <div class="col-md-10 col-sm-12">
        <h2>
          Llevaremos a tu equipo al <em>alto rendimiento</em>, de forma que serán capaces de...
        </h2>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-4 mb-3">
        <div class="box">
          <div class="flap flap-top-right"></div>
          <img src="/assets/img/icon-apprenticeship.svg" />
          <p>
            Producir software fácil de extender y mantener, entregado a tiempo al mercado.
          </p>
        </div>
      </div>
      <div class="col-xl-4 mb-3">
        <div class="box">
          <div class="flap flap-top-right"></div>
          <img src="/assets/img/icon-coaching.svg" />
          <p>
            Minimizar los defectos en el producto y las sorpresas en los despliegues.
          </p>
        </div>
      </div>
      <div class="col-xl-4 mb-3">
        <div class="box">
          <div class="flap flap-top-right"></div>
          <img src="/assets/img/icon-training.svg" />
          <p>
            Aportar valor al negocio desde el primer momento y de forma constante
          </p>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row mt-3 mb-3 justify-content-center align-items-center text-center">
        <div class="col-md-12">
          <p>
            Lo conseguiremos fomentando una cultura de <em>excelencia técnica</em>, <em>colaboración</em> y <em>mejora contínua</em>.
          </p>
        </div>
      </div>
    </div>

    <div class="row justify-content-center align-items-center text-center">
      <div class="col-m-12">
        <p>
          <a data-scroll="sect-contact" href="#" class="button button-center">Charlemos sobre tu equipo</a>
        </p>
      </div>
    </div>
  </div>
</section>

<section class="light background">
  <div class="container">
    <div class="row">
      <div class="col-md-2 d-none d-sm-none d-md-block">
        <h2>
          <img
            class="arrow-right"
            src="/assets/img/arrow-right-secondary.svg"
          />
        </h2>
      </div>
      <div class="col-md-10 col-sm-12">
        <h2>
          Deja guiar a tu equipo por expertos
        </h2>
      </div>
    </div>
    <div class="row justify-content-center text-center">
      <div class="col-md-12">
        <p>
          Los technical coaches que acompañarán a tu equipo son desarrolladores y líderes técnicos con amplia experiencia trabajando en equipos de alto rendimiento.
        </p>
      </div>
      {{ range .Params.team }} {{$authorName := .name}} {{ $data := index $.Site.Data.authors $authorName }}
      <div class="col-12 col-md-4 col-lg-4">
        <div class="team-card">
          <div
            class="team-card-header"
            style="background-image: url('{{$data.avatar}}')"
          ></div>
          <div class="team-card-body d-flex flex-column">
            <h3>{{ $data.name }}</h3>
            <p class="description">{{ $data.role }}</p>
            <ul class="social-icons list-inline">
              {{ if ($data.social.twitter) }}
              <li class="list-inline-item">
                <a target="_blank" href="{{ $data.social.twitter }}">
                  <img src="/assets/img/blog/social-icons/icon-twitter.svg" />
                </a>
              </li>
              {{ end }}
              {{ if ($data.social.linkedin) }}
              <li class="list-inline-item">
                <a target="_blank" href="{{ $data.social.linkedin }}">
                  <img
                    src="/assets/img/blog/social-icons/icon-linkedin.svg"
                  />
                </a>
              </li>
              {{ end }}
              {{ if ($data.social.github) }}
              <li class="list-inline-item">
                <a target="_blank" href="{{ $data.social.github }}">
                  <img src="/assets/img/blog/social-icons/icon-github.svg" />
                </a>
              </li>
              {{ end }}
            </ul>
          </div>
        </div>
      </div>
      {{end}}
    </div>
  </div>
</section>

<section id="sect-guide" class="gloaming">
  <div class="container">
    <div class="row">
      <div class="col-md-2 d-none d-sm-none d-md-block">
        <h2><img class="arrow-right" src="/assets/img/arrow-right-secondary.svg" /></h2>
      </div>
      <div class="col-md-10 col-sm-12">
        <h2>¿Cómo es trabajar con nosotros?</h2>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-4">
        <div class="icon-container">
          <img src="/assets/img/legacy/icons/icon-01.svg" />
        </div>
        <p>Trabajaremos codo con codo con los desarrolladores <em>desde el día a día</em> de su proyecto, en sesiones de Pair/Mob programming.</p>
      </div>
      <div class="col-md-4">
        <div class="icon-container">
          <img src="/assets/img/legacy/icons/icon-06.svg" />
        </div>
        <p>Pondremos el <em>foco en el negocio</em>, facilitando la colaboración entre desarrolladores y stakeholders para aportar valor de forma continua.</p>
      </div>
      <div class="col-md-4">
        <div class="icon-container">
          <img src="/assets/img/legacy/icons/icon-02.svg" />
        </div>
        <p>Perseguiremos la excelencia técnica, fomentando la adopción de <em>buenas prácticas técnicas</em> (Agile, XP, DevOps) y hábitos que permitan la adopción de un ritmo sostenible.</p>
      </div>
      <div class="col-md-4">
        <div class="icon-container">
          <img src="/assets/img/legacy/icons/icon-04.svg" />
        </div>
        <p>Ayudaremos al equipo a dar forma a una <em>visión técnica</em> que habilite la evolución del negocio.</p>
      </div>
      <div class="col-md-4">
        <div class="icon-container">
          <img src="/assets/img/legacy/icons/icon-03.svg" />
        </div>
        <p><em>Formaremos al equipo</em> en aquellos conocimientos de los que pueda carecer, en el momento oportuno y desde un punto de vista aplicado, mediante Learning Hours.</p>
      </div>
      <div class="col-md-4">
        <div class="icon-container">
          <img src="/assets/img/legacy/icons/icon-05.svg" />
        </div>
        <p>Lograremos un <em>impacto a largo plazo</em>. Cuando nos vayamos, el cambio cultural y de mindset del equipo perdurará.</p>
      </div>
    </div>
  </div>
</section>

<section id="sect-cases-studies" class="light">
  <div class="container center-block">
    <div class="row mt-3 mb-3 justify-content-center align-items-center text-center">
      <div class="col-md-8">
        <h2>
          Descubre cómo ayudamos a BAB a acelerar la entrega de su software optimizando sus procesos de integración y despliegue contínuos (CI/CD).
        </h2>
      </div>
      <div class="case-study-card-container">
        <div class="case-study-card">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe
              class="embed-responsive-item"
              src="https://www.youtube.com/embed/8WfycGZPaug"
            ></iframe>
          </div>
          <div class="container">
            <h6>
              "No queríamos encontrarnos dentro de un tiempo con tener que reescribir nuestro código, por lo que decidimos abrir nuestro software al equipo de Exeal para realizar un análisis objetivo con la finalidad de mejorarlo."
            </h6>
            <p>
              Gerard Artés, CTO & Co-founder @ BAB
            </p>
            <a
              href="/casos-de-exito/we-are-bab/"
              class="button-hollow"
              style="margin: auto; text-align: center; display: block"
              >Leer caso de éxito</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{ partial "clients.html" (dict "context" . "background" "light")}}

<section id="sect-value-proposition" class="dark background background-01">
  <div class="container">
    <div class="row">
      <div class="col-md-2 d-none d-sm-none d-md-block">
        <h2>
          <img
            class="arrow-right"
            src="/assets/img/arrow-right-secondary.svg"
          />
        </h2>
      </div>
      <div class="col-md-10 col-sm-12">
        <h2>
          Emprende ahora el camino hacia el alto rendimiento
        </h2>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-4 mb-3">
        <div class="box">
          <div class="flap flap-top-right"></div>
          <p class="price">- 1 -</p>
          <h3>Análisis</h3>
          <p>
            Cuéntanos, en una sesión gratuita y sin compromiso, cuáles son los retos y necesidades de tu equipo.
          </p>
        </div>
      </div>
      <div class="col-xl-4 mb-3">
        <div class="box">
          <div class="flap flap-top-right"></div>
          <p class="price">- 2 -</p>
          <h3>Plan</h3>
          <p>
            Nos reunimos con tu equipo para acordar los objetivos, contenidos y formato del coaching.
          </p>
        </div>
      </div>
      <div class="col-xl-4 mb-3">
        <div class="box">
          <div class="flap flap-top-right"></div>
          <p class="price">- 3 -</p>
          <h3>Coaching</h3>
          <p>
            Nos integramos al día a día de tu equipo para potenciar sus prácticas técnicas.
          </p>
        </div>
      </div>
    </div>

    <div class="row justify-content-center align-items-center text-center">
      <div class="col-m-12">
        <p>
          <a data-scroll="sect-contact" href="#" class="button button-center">Charlemos sobre tu equipo</a>
        </p>
      </div>
    </div>
  </div>
</section>

<section id="sect-paragraph" class="light background background-06">
  <div class="container">
    <div class="row">
      <div class="col-md-2 d-none d-sm-none d-md-block">
        <h2>
          <img
            class="arrow-right"
            src="/assets/img/arrow-right-secondary.svg"
          />
        </h2>
      </div>
      <div class="col-md-10 col-sm-12">
        <h2>
          Empodera a tu equipo de desarrollo para aportar valor al negocio
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>
          En Exeal sabemos que el principal objetivo del software es generar valor para el negocio, pero también entendemos la desmotivación que supone estar constantemente haciendo malabares para seguir implementando funcionalidades, a la vez que mantener todos los fuegos controlados e intentar mejorar poco a poco el código, aún con la constante presión del negocio y la impotencia de no lograr un entendimiento.
        </p>
        <p>
          Por ello, ponemos toda nuestra experiencia aplicado los principios y prácticas de metodologías de desarrollo ágil como XP (Extreme Programming) y DevOps a disposición de tu equipo, con el que trabajaremos codo con codo desde el día a día de vuestro proyecto. Fomentaremos la adopción de buenas prácticas, hábitos y creación de un ritmo sostenible, para garantizar la performance y predictibilidad del equipo a largo plazo.
        </p>
        <p>
          Ayudaremos al equipo a colaborar con negocio y usuarios finales, optimizar sus procesos de desarrollo, dar forma a la visión técnica y construir software calidad de manera incremental. Lo haremos en sesiones de Pair y Mob Programming, así como como facilitando dinámicas de equipo. Trasladaremos aquellos conocimientos de los que pueda carecer el equipo, en el momento oportuno y desde un punto de vista aplicado, mediante Learning Hours.
        </p>
        <p>
          Fomentaremos y cultivaremos una cultura de mejora y aprendizaje continuos entre todos los miembros del equipo para que, cuando nos vayamos, el equipo pueda seguir creciendo sin nosotros y aportando valor de forma constante a usuarios y stakeholders, sin incidencias relevantes, sin parones eternos para refactorizar, con despliegues casi instantáneos y sin riesgo y, sobre todo, con personas felices y orgullosas de pertenecer a tu equipo.</p>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>
          <a data-scroll="sect-contact" href="#" class="button button-center">Charlemos sobre tu equipo</a>
        </p>
      </div>
    </div>
  </div>
</section>

<section id="sect-contact" class="light">
	<div class="container">
		<div class="row">
			<div class="col-md-2 d-none d-sm-none d-md-block">
				<h2><img class="arrow-right" src="/assets/img/arrow-right-secondary.svg" /></h2>
			</div>
			<div class="col-md-10 col-sm-12">
				<h2>Cuéntanos acerca de los retos de tu equipo y te propondemos un plan personalizado para ellos.</h2>
				{{- partial "contactform.html" . -}}
			</div>
		</div>
	</div>
</section>
{{ end }}
