{{ define "main" }}

{{ range .Params.blocks }}
  {{ partial (printf "blocks/%s.html" .type) . }}
{{ end }}

<section id="sect-courses" class="light">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="course-card row no-gutters">
          {{ range first 1 (where .Site.Pages "Params.featured" true) }}
          <div
            class="course-header col-lg-6 col-sm-12"
            style="background-image: url('{{ .Params.course_featured_image }}')"
          >
            <div class="featured-course">Curso más popular</div>
          </div>
          <div class="col-lg-6 col-sm-12">
            <div class="course-body">
              <h3>{{ .Params.course_title }}</h3>
              <p class="description">
                Nuestro curso insignia, en el que re-descubrirás los fundamentos del desarrollo de software, a todos los niveles.
              </p>
              <p class="description">
                Después de hacer este curso tu carrera como desarrollador no volverá a ser igual. Aprenderás a:
              </p>
              <ul class="course-features">
                <div class="row">
                  <li class="col-md-6">Escribir código limpio y mantenible</li>
                  <li class="col-md-6">Construir una red de seguridad con tests y TDD</li>
                  <li class="col-md-6">Poner el producto y el negocio en el centro</li>
                  <li class="col-md-6">Trabajar en un equipo de alto rendimiento</li>
                </div>
              </ul>
              <a class="button" href="{{ .Permalink }}">Quiero saber más</a>
            </div>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>

<section class="dark background background-01">
  <div class="container">
    <div class="row mt-3 mb-3 justify-content-center align-items-center text-center">
      <div class="col-md-12">
        <h1>Cursos avanzados</h1>
        <p>
          <img class="arrow-down" src="/assets/img/arrow-down-primary.svg" />
        </p>
      </div>
    </div>
  </div>
</section>

<section id="sect-courses" class="light">
  <div class="container">
    <div class="row">
      {{ $allCourses := where .Site.Pages "Params.layout" "course" }}
      {{ range first 9 (where $allCourses "Params.featured" nil) }}
      <div class="col-md-4 col-sm-12">
        <div class="course-card">
          <div
            class="course-header"
            style="background-image: url('{{ .Params.course_featured_image }}')"
          >
            <div class="featured-course">¡Próximamente!</div>
          </div>
          <div class="course-body">
            <h3>{{ .Params.course_title }}</h3>
            <p class="description">{{ .Description }}</p>
            <!--
            <a class="button button-green expand" href="{{ .Permalink }}"
              >Más info</a
            >
            -->
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>

{{- partial "testimonials.html" . -}}

{{ partial "clients.html" (dict "context" . "background" "gloaming")}}

{{ partial "partners.html" (dict "context" . "background" "light")}}

<section id="sect-contact" class="dark background background-03">
  <div class="container">
    <div class="row">
      <div class="col-md-2 d-none d-sm-none d-md-block">
        <h2><img class="arrow-right" src="/assets/img/arrow-right-secondary.svg" /></h2>
      </div>
      <div class="col-md-10 col-sm-12">
        <h2>Contacta con nosotros para obtener más información o reservar tu plaza en nuestras formaciones:</h2>
        {{- partial "contactform.html" . -}}
      </div>
    </div>
  </div>
</section>
{{ end }}
