article em {
  font-weight: normal;
}

article strong {
  font-weight: bold;
}

article img {
  max-width: 90%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2em;
  padding-bottom: 2em;
}

article h2 {
  padding-top: 2em;
}

article ul {
  display: block;
  padding-left: 2em;
}

article li {
  background-image: url('/assets/img/arrow-cta-yellow.svg');
  background-position-y: 0.3em;
  background-repeat: no-repeat;
  padding-left: 3em;
}

article a {
  color: inherit;
  border-bottom: 3px solid #E6AD1C;
}

article a:hover {
  background-color: #182935;
  color: white;
  border-bottom: 0px;
  text-decoration: none;
  transition: 0.2s;
}