<section id="{{ .id }}" class="light">
  <div class="container">
    <div class="row">
      {{ $allCourses := where site.Pages "Params.layout" "course" }}
      {{ range first 9 (where $allCourses "Params.featured" nil) }}
      <div class="col-md-4 col-sm-12">
        <div class="course-card">
          <div
            class="course-header"
            style="background-image: url('{{ .Params.course_featured_image }}')"
          >
            {{ if not .Params.course_visible }}
              <div class="featured-course">¡Próximamente!</div>
            {{ end }}
          </div>
          <div class="course-body">
            <h3>{{ .Params.course_title }}</h3>
            <p class="description">{{ .Description }}</p>
            {{ if .Params.course_visible }}
            <a class="button button-green expand" href="{{ .Permalink }}"
              >Más info</a
            >
            {{ end }}
            
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
