<section id="{{ .id }}" class="{{ .className }}">
  <div class="container">
    <div class="col-md-12 text-center">
      <h2>{{ .header }}</h2>
      <p>
        {{ .paragraph | safeHTML }}
      </p>
    </div>
    <div
      class="calendly-inline-widget"
      data-url="{{ .calendlyUrl }}?hide_gdpr_banner=1"
      style="min-width: 320px; height: 700px"
    ></div>
    <script
      type="text/javascript"
      src="https://assets.calendly.com/assets/external/widget.js"
      async
    ></script>
  </div>
</section>