<header
  id="{{ .id }}"
  class="hero hero-bg-img {{ .className }}"
  {{ if .backgroundImage }} style="background-image: url('{{ .backgroundImage }}')" {{ end }}>
  <div class="hero-bg-img-mask bg-mask">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-md-12 text-center">
          <h1>{{ .header | safeHTML }}</h1>
          <h4>{{ .subheader | safeHTML }}</h4>
          {{ range .paragraphs }}
            <p>{{ . | safeHTML }}</p>
          {{ end }}
          {{ if .callToAction }}
            {{- partial "call-to-action.html" .callToAction }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</header>
