.hero {
  height: 10em;
  min-height: 700px;
  background-image: url('/assets/img/blog/blog-cover-1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-mask {
  background: rgba(24,41,53,0.75);
  height: 100%;
}

.hero h1 {
  color: #FFFFFF;
  font-size: 3rem;
  font-weight: normal;
	font-style: normal;
  font-family: 'Gopher Regular', 'Work Sans', sans-serif;
  line-height: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.hero h2 {
  color: #E4E4E4;
  font-size: 1.5rem;
  font-family: 'Gopher Regular', 'Work Sans', sans-serif;
  margin-top: 1em;
  margin-bottom: 1em;
}

.hero h1 span.underline {
  border-bottom: 4px solid #1fe589;
}

.hero p {
  margin-top: 1em;
  margin-bottom: 1em;
}

ul.tags {
  margin: 1em 0em;
}

ul.tags li {
  display: inline-block;
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
  padding: 0em 0.5em;
  margin: 0.5em 1em;
}

ul.tags .tags-light li {
  color: #E4E4E4;
  border-color: #FFFFFF;
}

ul.tags .tags-dark li {
  color: #182935;
  border-color: #182935;
}

pre {
  border-style: solid;
	border-color: #1fe589;
  border-width: 4px;
  margin: 0em 2rem;
  padding: 2em 2em;
  font-family: 'JetBrainsMono-Regular', 'Work Sans', sans-serif;
}

div.post-author {
  border-top-style: solid;
  border-top-width: 1px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #1fe589;
  margin: 2em 0em;
}

.post-author .customer-name {
  margin: 2em 0em;
}

.post-author .customer-name h2 {
  margin-bottom: 0.5em;
  margin-left: 1em;
  text-align: left;
}

.post-author .customer-name {
  max-width: 30rem;
}