html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}table{border-collapse:collapse;border-spacing:0;}body{-webkit-text-size-adjust:none}mark{background-color:transparent;color:inherit}input::-moz-focus-inner{border:0;padding:0}input[type="text"],input[type="email"],select,textarea{-moz-appearance:none;-webkit-appearance:none;-ms-appearance:none;appearance:none}

html {
	font-size: 16pt;
	background-color: #000000;
}

@media (min-width: 1200px) {
	.container {
		max-width: 1250px;
	}
}

.light {
	background-color: #FFFFFF;
	color: #182935
}

.gloaming {
	background-color: #F1FFF9;
}

.gray {
	background-color: #F1F1F1;
}

.dark {
	background-color: #182935;
	color: #FFFFFF;
}

.black {
	background-color: #000000;
}

section {
	padding-top: 3em;
	padding-bottom: 3em;
}

body {
	font-family: 'Work Sans', Sans-Serif;
	letter-spacing: 0.02rem;
	line-height: 1.75rem;
}

h1 {
	font-size: 1.875em;
	line-height: 1.25em;
	margin-top: 1.25em;
	margin-bottom: 1.25em;
	font-family: 'Gopher Medium', 'Work Sans', sans-serif;
	font-weight: normal;
	font-style: normal;
}

h2 {
	font-size: 1.5em;
	font-family: 'Gopher Regular', 'Work Sans', sans-serif;
	font-weight: normal;
	font-style: normal;
	margin-bottom: 1.25em;
}

h2 em {
	border-bottom: 3px solid #1fe589;
}

h3 {
	font-size: 1.375em;
	margin-bottom: 1.25em;
	font-family: 'Gopher Regular', 'Work Sans', sans-serif;
	font-style: italic;
	font-weight: bold;
}

h4 {
	font-size: 1.375em;
	margin-top: 1.25em;
	margin-bottom: 1.25em;
	font-family: 'Work Sans', sans-serif;
}

section p {
	margin-top: 1.25em;
	margin-bottom: 1.25em;
}

p em {
	font-style: italic;
	font-weight: bold;
}

nav.dark {
	border-style: solid;
	border-color: #707070;
	border-bottom-width: 2px;
	font-size: 1.1em;
	font-family: 'Gopher Regular', 'Work Sans', sans-serif;
}

.navbar {
	padding-top: 1em;
	padding-bottom: 1em;
}

@media (min-width: 1200px) {
	.nav-item {
		margin-left: 2em;
	}
}

.background.background-01 {
	background-image: url('../img/background-01-right.png'), url('../img/background-01-left.png');
	background-attachment: fixed, fixed;
	background-position: top right, top;
	background-repeat: no-repeat, no-repeat;
	background-size: 40em, 100em;
}

@media (max-width: 1400px) {
	.background.background-01 {
		background-image: url('../img/background-01-right.png');
		background-attachment: fixed;
		background-position: top right;
		background-repeat: no-repeat;
		background-size: 40em;
	}
}

.background.background-02 {
	background-image: url('../img/background-02.png');
	background-attachment: fixed;
	background-position: center;
	background-repeat: repeat;
	background-size: cover;
}

.background.background-03 {
	background-image: url('../img/background-03.png');
	background-attachment: fixed;
	background-position: center;
	background-repeat: repeat;
	background-size: cover;
}

.background.background-04 {
	background-image: url('../img/background-04.png');
	background-position: center;
	background-repeat: repeat;
}

.background.background-05 {
	background-image: url('../img/background-05.png');
	background-attachment: fixed;
	background-position: center;
	background-repeat: repeat;
	background-size: cover;
}

.background.background-01-simple {
	background-image: url('../img/background-01-left.png');
	background-attachment: fixed;
	background-position: top;
	background-repeat: no-repeat;
	background-size: 100em;
}

.icons {
	cursor: default;
	padding: 0;
	letter-spacing: 0;
}

.icons li {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	z-index: 1;
}

.icons li a {
	display: flex;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}

.icons li a svg {
	display: block;
	position: relative;
	-moz-transition: fill 0.25s ease;
	-webkit-transition: fill 0.25s ease;
	-ms-transition: fill 0.25s ease;
	transition: fill 0.25s ease;
}

.icons li a + svg {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	-moz-pointer-events: none;
	-webkit-pointer-events: none;
	-ms-pointer-events: none;
	pointer-events: none;
	-moz-transition: fill 0.25s ease, stroke 0.25s ease;
	-webkit-transition: fill 0.25s ease, stroke 0.25s ease;
	-ms-transition: fill 0.25s ease, stroke 0.25s ease;
	transition: fill 0.25s ease, stroke 0.25s ease;
}

.icons li a .label {
	display: none;
}

#icons02 {
	font-size: 1em;
	width: calc(100% + 1.25rem);
	margin-left: -0.625rem;
}

#icons02 li {
	margin: 0.625rem;
}

#icons02 li a {
	border-radius: 2rem;
	width: 2em;
	height: 2em;
}

#icons02 li a svg {
	width: 60%;
	height: 60%;
}

#icons02 a svg {
	fill: #FFFFFF;
}

#icons02 a {
	border: solid 1px #FFFFFF;
}

#icons02 a:hover {
	border-color: #1fe589 !important;
}

#icons02 a:hover svg {
	fill: #1fe589 !important;
}

#icons02 .n01:hover {
	border-color: #1fe589 !important;
}

#icons02 .n01:hover svg {
	fill: #1fe589 !important;
}

div.service {
	border-style: solid;
	border-color: #1fe589;
	border-width: 4px;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 2em;
	padding-bottom: 1em;
	text-align: center;
	align-items: center;
	justify-content: center;
	height: 100%;
	position: relative;
}

div.service h3 {
	padding-left: 2em;
	padding-right: 2em;
}

div.service a {
	margin: auto;
}

div.service > div.flap {
	display: block;
	border-top-right-radius: 50%;
	border-color: #1fe589;
	border-right-style: solid;
	border-top-style: solid;
	border-width: 4px;
	width: 10em;
	padding-bottom: 10em;
  position: absolute;
  top: -4px;
  right: -4px;
}

img.avatar {
	width: 6em;
	height: 6em;
}

.form-control {
	border-color: #1fe589;
	border-width: 2px;
	border-radius: 0px;
}

.form-control:focus {
  border-color: #1fe589;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(31, 229, 137, 0.6);
}

.btn-submit {
	border-width: 0px;
	border-radius: 0px;
	background-color: #1fe589;
	width: 100%;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	font-family: 'Gopher Regular', 'Work Sans', sans-serif;
	color: #FFFFFF;
}

.btn-submit:active {
	background-color: #1fe589;
	border-color: #1fe589;
}

@font-face {
	font-family: 'Gopher Medium';
	src: url('../font/gopher-medium-webfont.woff2') format('woff2'),
			 url('../font/gopher-medium-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'Gopher Bold';
	src: url('../font/gopher-bold-webfont.woff2') format('woff2'),
			 url('../font/gopher-bold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'Gopher Regular';
	src: url('../font/gopher-regular-webfont.woff2') format('woff2'),
			 url('../font/gopher-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'JetBrainsMono-Regular';
	src: url('../font/JetBrainsMono-Regular.woff2') format('woff2'),
			 url('../font/JetBrainsMono-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

img.arrow-down {
	height: 4em;
	width: auto;
	margin-left: 1em;
	margin-right: 1em;
}

img.arrow-right {
	height: auto;
	width: 3.5em;
}

a.button {
	display: block;
	border-style: solid;
	border-color: #E6AD1C;
	background-color: #E6AD1C;
	border-width: 3px;
	font-family: 'Gopher Regular', 'Work Sans', sans-serif;
	text-decoration: none;
	width: fit-content;
	font-size: 1.3em;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	padding-left: 1.4em;
	padding-right: 1.4em;
	border-radius: 2rem;
	justify-content: center;
  align-items: center;
}

a.button.expand {
	width: 100%;
}

.dark a.button {
	color: #182935;
}

.light a.button {
	color: #FFFFFF;
}

.gloaming a.button {
	color: #FFFFFF;
}

a.button:after {
	float: right;
	margin-left: .75em;
	margin-top: 4px;
}

.dark a.button:after {
	content: url('../img/arrow-cta-dark.svg');
}

.light a.button:after {
	content: url('../img/arrow-cta-white.svg');
}

.gloaming a.button:after {
	content: url('../img/arrow-cta-white.svg');
}

a.button-hollow {
	display: block;
	border-style: solid;
	border-color: #E6AD1C;
	border-width: 3px;
	font-family: 'Gopher Regular', 'Work Sans', sans-serif;
	text-decoration: none;
	width: fit-content;
	font-size: 1.3em;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	padding-left: 1.4em;
	padding-right: 1.4em;
	border-radius: 2rem;
	justify-content: center;
	align-items: center;
	color: #E6AD1C;
}

.button-hollow:after {
	float: right;
	margin-left: .75em;
	margin-top: 4px;
	content: url('../img/arrow-cta-yellow.svg');
}

.footer {
	padding-top: 3em;
	padding-bottom: 3em;
}

@media (min-width: 992px) {
	div.container img.img-fluid.pad {
		padding: 1.5em;
	}
}

footer a {
	color: #707070;
}

footer a:hover {
	color: #909090;
	text-decoration: none;
}

footer li img {
	width: 2em;
	height: 2em;
}

ul.ticked li:before {
	content: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%2040%2040%22%3E%3Cpath%20d%3D%22M37.9%2C10.6l-3.2-3.2c-0.4-0.4-1-0.7-1.6-0.7c-0.6%2C0-1.2%2C0.2-1.6%2C0.7L15.9%2C23l-7-7c-0.4-0.4-1-0.7-1.6-0.7S6.1%2C15.6%2C5.6%2C16%20l-3.2%2C3.2c-0.4%2C0.4-0.7%2C1-0.7%2C1.6S2%2C22%2C2.4%2C22.5l8.6%2C8.6l3.2%2C3.2c0.4%2C0.4%2C1%2C0.7%2C1.6%2C0.7c0.6%2C0%2C1.2-0.2%2C1.6-0.7l3.2-3.2l17.2-17.2%20c0.4-0.4%2C0.7-1%2C0.7-1.6C38.6%2C11.6%2C38.4%2C11.1%2C37.9%2C10.6z%22%20fill%3D%22%2305E69B%22%20%2F%3E%3C%2Fsvg%3E');
	width: 1rem;
	display: inline-block;
	margin-right: 0.3em;
	position: relative;
	top: 0.15em;
}

div.icon-container {
	min-height: 5.5em;
	display: flex;
}

@media (min-width: 1200px) {
	h1.arrow-right:before {
		content: url('/assets/img/arrow-right-secondary.svg');
		display: inline-block;
		margin-right: 1em;
		position: relative;
		top: 0.15em;
	}
}

sup {
  font-size: 0.75em;
}

.center-horizontal {
	margin-left: auto;
	margin-right: auto;
}

div.bordered {
	font-weight: normal;
	font-style: normal;
	border-style: solid;
	border-color: #1fe589;
	border-width: 4px;
	padding: 1em 2em;
	position: relative;
}

div.bordered.expanded {
	position: relative;
	top: -4px;
}

div.bordered > h2 {
	margin: 0em;
}

/*
div.bordered > div.dropdown {
	display: block;
	border-color: #1fe589;
	border-left-style: solid;
	border-width: 4px;
	width: 4.5em;
	height: 108%;
  position: absolute;
  top: -4px;
  right: -4px;
}
*/

dl.faq dt {
	font-family: 'Gopher Regular', 'Work Sans', sans-serif;
	color: #707070;
	border-color: #1fe589;
	border-bottom-style: solid;
	border-width: 2px;
	font-size: 1.25em;
	padding-top: 0.75em;
	padding-bottom: 0.75em;
}

dl.faq dd {
	color: #707070;
	padding-bottom: 1em;
	padding-top: 1em;
}

p.taxes {
	color: #707070;
	font-size: 0.75em;
}

.carousel-indicators {
	display: inline-block;
	margin-right: 1em;
	margin-left: 0px;
	position: relative;
	bottom: 0px;
}

.carousel-indicators li {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 10px;
	text-indent: 0;
	cursor: pointer;
	border: none;
	border-radius: 50%;
	position: relative;
	top: 0.15em;
}

.carousel-indicators.carousel-testimonials li {
	background-color: #D0D0D0;
}

.carousel-indicators.carousel-testimonials .active {
	background-color: #182935;
}

.avatar-with-name {
	margin-top: 1em;
	margin-bottom: 1em;
}

.avatar-with-name > * {
	vertical-align: middle;
}

.avatar-with-name .customer-name {
	display: inline-block;
}

.avatar-with-name p {
	margin: 0px;
	color: #707070;
}

@media (min-width: 992px) {
	.avatar-with-name p {
		text-align: left;
		margin-left: 1.5em;
	}
}

.carousel-indicators-parent {
	margin-top: 1.5em;
	text-align: center;
}

.carousel {
	font-family: 'Gopher Regular', 'Work Sans', sans-serif;
	font-size: 1.3em;
}

@media (max-width: 992px) {
	.avatar-with-name .customer-name {
		display: block;
		margin-top: 1em;
	}
}

p.price {
	font-family: 'Gopher Regular', 'Work Sans', sans-serif;
	color: #F1FFF9;
	font-size: 6em;
	margin-top: 3rem;
	margin-bottom: 3rem;
	-webkit-text-stroke-width: 3px; 
	-webkit-text-stroke-color: #1fe589; 
}

p.price sup {
	font-size: 3rem;
}

@media (min-width: 1200px) {
	div.price-box-left {
		margin-right: 2em;
	}

	div.price-box-right {
		margin-left: 2em;
	}
}

a.nav-button {
	display: block;
	background-color: #E6AD1C;
	font-family: 'Gopher Regular', 'Work Sans', sans-serif;
	text-decoration: none;
	width: fit-content;
	justify-content: center;
	align-items: center;
	padding-left: 1em !important;
	padding-right: 1em !important;
	color: #182935 !important;
	border-radius: 2rem;
}

div.vertical-center {
	display: flex;
	align-items: center;
}

div.horizontal-center {
	display: flex;
	justify-content: center;
}

div.thank-you-hero {
	height: 25rem;
}

img.client-logo {
	padding: 1.5rem;
	max-width: 10rem;
	filter: grayscale(100%);
	opacity: 0.5;
}

.course-card {
	box-shadow: 0.5rem 0.5rem 1rem -1rem rgba(0,0,0,0.75);
	margin-bottom: 2rem;
}

.course-header {
	background-image: url('/assets/img/blog/posts/pain-developer.jpeg');
  background-size: cover;
  background-position: center;
	background-repeat: no-repeat;
	min-height: 16rem;
}

.course-body {
	padding: 1.5rem 1.5rem;
}

.course-body h3 {
	font-size: 1.5em;
	font-style: normal;
	margin-bottom: 1.25rem;
}

.course-body p.level {
	color: #909090;
	font-size: 1em;
	font-family: 'Gopher Regular', 'Work Sans', sans-serif;
	margin-bottom: 1.25rem;
	margin-top: 0rem;
}

.course-body p.description {
	color: #707070;
	font-size: 1rem;
	margin-bottom: 1.25rem;
	margin-top: 0rem;
	line-height: 150%;
}

.course-body li {
	color: #909090;
	font-size: 0.85rem;
	font-family: 'Gopher Regular', 'Work Sans', sans-serif;
	margin-bottom: 0.5rem;
	margin-top: 0rem;
}

.course-body ul {
	margin-bottom: 1.25rem;
}

.courses-tagline {
	background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
	background-image: url('/assets/img/blog/blog-cover-1.png');
}

.courses-tagline-inner {
	height: 100%;
  padding: 2rem;
  color: #FFFFFF;
  height: 22em;
  position: relative;
}

.courses-tagline h1 {
	margin-left: 2rem;
	font-family: 'Gopher Regular', 'Work Sans', sans-serif;
  font-size: 2rem;
  max-width: 25rem;
}

.course-header div.featured-course {
	display: block;
	background-color: #E6AD1C;
	font-family: 'Gopher Regular', 'Work Sans', sans-serif;
	color: #FFFFFF;
	padding: 0.25rem 1rem;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

img.mockup-brochure {
	max-height: 14rem;
}

.course-page-tagline h1 {
	margin-top: 0rem;
}

label {
  font-size: 0.85rem;
  color: #707070;
  line-height: 100%;
}

.dark .form-control {
	border-color: white;
	background-color: transparent;
}

input.button {
	display: block;
	border-style: solid;
	border-color: #E6AD1C;
	background-color: #E6AD1C;
	border-width: 3px;
	font-family: 'Gopher Regular', 'Work Sans', sans-serif;
	text-decoration: none;
	width: 100%;
	font-size: 1.3em;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	padding-left: 1.4em;
	padding-right: 1.4em;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

ul.course-features li:before {
	content: url('/assets/img/icon-markup-green-xs.svg');
	width: 1rem;
	display: inline-block;
	margin-right: 0.3em;
	position: relative;
	top: 0.15em;
}

i.icon {
	display: inline-block;
	margin-right: 0.25rem;
	position: relative;
	top: 0.15em;
}

i.i-level-black {
	width: 24px;
	height: 24px;
	background-image: url('/assets/img/icon-markup-black-s.svg');
}

i.i-level-grey {
	width: 24px;
	height: 24px;
	background-image: url('/assets/img/icon-markup-grey-s.svg');
}

img.tagline-img-max-height {
	height: 100%;
}